[2016-08-03 20:02] jdnichollsc opened #350 "Support File System"
Hi man,

What do you think to use the file system to save the job data instead of MongoDB? Is it possible?

Thanks in advance, Nicholls

[2016-08-04 17:20] raymatos commented on #348
I think making agenda DB agnostic would be awesome.

[2016-08-08 13:40] qwemaze commented on #168
+1
Same problem.
The job is never executed.
[code]

[2016-08-08 15:01] qwelias opened #351 "Cron format is broken"
[code]

Logs 'test' every second

Edit: '\* \* \* \* \* *' does not run at all

Edit2: '0 \* \* \* \* *' registered "nextRunAt" : ISODate("2016-08-08T15:06:00.787Z"), but has not logged anything in 5 minutes.

[2016-08-11 13:00] ashansa commented on #335
Hi,

I am receiving the same error with Agenda, but I get it while Agenda is trying to save job when I run the mocha test cases on agenda. I noticed the same behavior of _collection is undefined and the db_init() method had not been invoked before the saveJob() function.

Is there any workaround for this?

[2016-08-11 13:22] chaimsiegel opened #352 "running job manually"
Is it possible to have a job run manually - not on any specifc schedule.
That it would just show up in agendash as a possible job to run but never actually run until a user puts it on the queue or requeue?

Thanks

[2016-08-12 06:32] SohaibFarooqi commented on #335
I followed the first example in docs and it worked fine for me.

[2016-08-15 03:40] rschmukler commented on #296
Closed by #353

[2016-08-15 03:40] #296 closed

[2016-08-15 03:40] rschmukler commented on #299
Closed by #353

[2016-08-15 03:40] #299 closed

[2016-08-15 03:40] rschmukler commented on #330
Closed by #353

[2016-08-15 03:40] #330 closed

[2016-08-16 17:11] bsouthga opened #354 "Variable weights for jobs in determining concurrency limits"
It would be awesome to have the ability to specify different "weights" for jobs, based on how resource intensive they are, to be used in determining whether to dequeue another job on a given worker.

For example, say we have two jobs `'veryHardJob'` and `'easyJob'`, the api might look like...

[code]

Then, within agenda, whenever `'veryHardJob'` is started, it adds 10 to the current "job count".

[2016-08-17 14:54] C45tr0 commented on #346
Using the below did work for me.

[code]

[2016-08-18 15:13] Deano24 commented on #346
Using what @C45tr0 said did not work for me, I got TypeError: Argument must be a string. So I went on some searching and found [this](http://stackoverflow.com/questions/38603529/argument-must-be-a-string-in-nodejs).

replace require('mongodb') with require('agenda/node_modules/mongodb') and then do what @C45tr0 says.

My problem seemed to stem from the different mongodb versions.

[2016-08-20 01:07] zeitos commented on #242
'agenda/lib/agenda.js:411
  if (this._mdb.s.topology.connections().length === 0) {
               ^

TypeError: Cannot read property 's' of undefined
    at [object Object].Agenda._findAndLockNextJob (/Users/ZeoS/dev/mio/alavaca/alavaca-web/node_modules/agenda/lib/agenda.js:411:16)
    at jobQueueFilling (/Users/ZeoS/dev/mio/alavaca/alavaca-web/node_modules/agenda/lib/agenda.js:592:10)
    at [obj

[2016-08-22 14:58] suryanaik opened #356 "Some complex scheduling cases with delayed start date (and end date)"
Have been struggling to find the right way to implement following scenarios
1. Daily at 8:00AM CST Starting 30-Aug-2016 till 30-Sep-2016
2. Every 3 days at 8:00 AM CST Starting 30-Aug-2016 till 30-Sep-2016
3. Every Wed and Fri at 8:00 AM CST Starting 30-Aug-2016 till 30-Sep-2016
4. Every 60 days at 8:00 AM CST Starting 30-Aug-2016 till 30-March-2017 (should run only once).

Following code could ha

[2016-08-23 05:52] suryanaik commented on #356
I also realized that `0 8 */x * *` will also fail if x greater than the number of days left in the month. In such a case, the nextRunAt will be 1st of the next month.

A special treatment has to be given to this case too.

[2016-08-23 19:19] suryanaik commented on #356
I have attempted to solve the problem by introducing startDate and skipDate as options to be passed to `job.repeatEvery(interval, options)`. The updated repeatEvery function now looks like following.

[code]
Also modified computeFromInterval function to make use of startDate and skipDays.
[code]

I have passed the additional parameters using options so that it does not break existing code.
Suggest

[2016-08-26 20:25] tarmolov commented on #253
I agree with @zoellner and @loris.

Recreating indices looks like a bad practice for me and could be a source of unexpected outcomes. An instruction with a detailed description about installation process in the README is sufficient.

If a developer doesn't have an experience of creating indices in mongo, he or her shouldn't use it at all 😈

@rschmukler let's drop indices from the lib!

[2016-08-29 11:23] ashutosh-akss opened #357 "Cron Jobs not starting when node server is started"
recurring cron jobs not starting when node server is restarted.

This is a major issue, olf jobs are forewver gone.

Tried this in Node 6.2 & Node 4.3

[2016-08-29 11:37] ashutosh-akss commented on #324
Same problem here, not working for me too.

[2016-08-29 12:38] ashutosh-akss commented on #131
@pcorey  Thanks , I tried your method but it still does not work for me .

I am on node 4.5.0

`
function removeStaleJobs(callback) {
    agenda._collection.update({
        lockedAt: {
            $exists: true
        }
    }, {
        $set: {
            lockedAt: null
        }
    }, {
        multi: true
    }, callback);
}

agenda.on('ready', function() {
    // agenda.every('3 minutes', '

[2016-08-30 12:32] mgregier opened #358 "Bug in calculating next month"
My CRON expression looks like this: '0 12 4 8 *' ( 4th August at 12:00) but i can see that nextRunAt value in mongo is set to one month forward ( 4th September at 12:00)
I'm using job.computeNextRunAt(); function to calculate next run.
Internally job.js is using computeFromInterval funciton and is calling cronTime._getNextDateFrom(lastRun); to calculate next run.
_getNextDateFrom is using date fro

[2016-09-01 12:19] cojack opened #359 "No SSL support in mongodb connections"
Hello guys,
I have a request for you, could you change your dependency for mongodb from static numer:
`"mongodb": "2.1.11"`
to something more flexible? fe:
`"mongodb": "^2.1.11"`

Thanks in advance.

P.S. this cause me a problem with ssl validation, in version 2.2.x is fixed. Regards.

[2016-09-02 04:31] demianhh commented on #359
asphalt nitro loft 36

[2016-09-02 04:35] demianhh commented on #359
"mongodb":. "2.1.12.4

[2016-09-02 07:16] cojack commented on #359
@demianhh what?

[2016-09-03 11:01] arndtjenssen commented on #338
We are having this problem, too. Since Mongodb has the auto_reconnect option enabled by default, there is no need to throw an exception on connection loss. Commenting out the throw statement below fixes the problem. I would recommend to do that :-)
[code]

[2016-09-04 14:47] sylvanash commented on #319
I'm also encountering the same error after transpiling my ES6 code to ES5...no one has any ideas on how to resolve this?

[2016-09-05 10:26] manuel-di-iorio commented on #352
[code]

[2016-09-05 10:30] manuel-di-iorio commented on #323
You can run Agenda in the same process, jobs are executed async

[2016-09-07 04:37] ishwarkrishna opened #360 "reschedule after node restart"
Agenda is not rescheduling open jobs from database after agenda.start().  Is there any way to do this?

[2016-09-07 11:33] lucazulian commented on #129
+1

[2016-09-07 15:41] ishwarkrishna commented on #360
Did following workaround to get dynamic jobs to start after restart.

...
	agenda.on('ready', function() {
		agenda.jobs({priority: 0}, function(err, jobs) {
			jobs.forEach(function(job) {
				console.log("job Name:",job.attrs.name);
				sampleJob.sendEmail(agenda,job.attrs.name);
			});
		});
	  agenda.start();
	});
...

[2016-09-07 15:49] simison commented on #360
Dublicate? #131  #175

[2016-09-08 08:19] ashutosh-akss commented on #357
Any help appriciated

[2016-09-08 08:21] simison commented on #357
Duplicate? #131 #175 #91

[2016-09-08 13:44] #323 closed

[2016-09-08 15:13] noisyox opened #362 "Appointment Scheduler usecase"
Sorry for asking implementation questions here as I am unable to find any google groups on agenda.

I need to implement the notify user about the appointment schedule which was created by them similar to email scheduled by each user with different data on different time.

- Do I need to set cron for all the appointment schedules. If yes, how to pass the job specific arguments?

- Is there a better

[2016-09-08 16:13] loris commented on #362
No, you don't need to set cron. Here is the correct implementation:

First define, the job business logic:

[code]

Then, whenever a user ask to be notified:
[code]

[2016-09-08 16:13] #362 closed

[2016-09-08 17:05] noisyox commented on #362
@loris Hey, thank you for your quick prompt.

If there are n number of appointment reminders then i have to set n number of times **agenda.schedule** with appropriate data-set for appointment reminder, right?

Can I set the recurring schedule in same way?

Need help: As I am new to node.js been research regarding the same I found two approach

- Schedule a cron: agenda or schedule
- use redis back

[2016-09-09 11:41] adamrabie commented on #312
+1

[2016-09-11 20:27] noisyox commented on #209
@JonnyBGod @loris  What is the status on this feature as I have the same specific requirement of scheduling same task for different users. but right now it overwrites the previous task and does not let me add more similar tasks.

[2016-09-11 20:48] mavvverick opened #364 "Schedule same task with different data"
I am getting trouble in scheduling same task with different data sets as it is been treated same and updates the already present task in the db with same task name.

task: notify-user-about-appointment

Example:

[code]

on second instance with data

[code]

It overwrites the previously created entry in the database.
- Does the job name has to be unique?
- Is there any workaround?

[2016-09-12 05:23] dimd13 commented on #312
+1

[2016-09-12 08:21] methuz commented on #335
+1

[2016-09-12 10:03] bvallelunga commented on #344
@jakeorr Shouldn't this be the default or at least an option when creating a job?

[2016-09-16 08:06] niftylettuce opened #366 "Attempting to run `agenda.cancel()` throws error"
Per the current code here <https://github.com/rschmukler/agenda/blob/a5b8a89df4d5bf4d7c667fa4a2559da8526da0df/lib/agenda.js#L318>

[code]

We should probably implement a safety check to ensure that `this._collection` is defined as well as `this._collection.deleteMany`.  Unless there is a better option here?

[2016-09-16 10:26] #156 closed

[2016-09-17 11:43] slinkydeveloper opened #367 "Simpler mechanism to enqueue tasks"
Hi,
For my application i need:
- Job scheduling **but**
- Flexibility to create job of various type
- **And** define job tasks when i want

So i think that the idea of define a task and then schedule this task is a bit complex because i have to first define all possible tasks at the start of agenda scheduler and **then** i can schedule it with datas.
So i write some code around agenda scheduler to

[2016-09-17 13:46] Shawyeok commented on #309
+1 for abstract storage layer, then `agenda` will able to support any database, even filesystem, just like [express-session-store](https://github.com/expressjs/session#session-store-implementation)!

[2016-09-22 10:53] sylvainlap commented on #335
+1

[2016-09-22 22:18] adrukh commented on #359
Ran into this issue myself. Current dependency of `"mongodb": "2.0.34"` is preventing the use of `agenda` with ssl-enabled mongodb.

Example of failing code:
[code]

The code above hangs as `'ready'` event never fires for `agenda`.

I'll open a PR that bumps `mongodb` dependency to fix this and mention it here shortly.

[2016-09-22 22:27] adrukh commented on #359
@cojack how about changing the title of this issue to reflect the problem? 'No SSL support in mongodb connections' seems appropriate :)

[2016-09-23 01:10] dumorango commented on #335
I found this workaround:

-agenda.schedule('now', 'post recurring stocks'); // <-- error thrown here
-agenda.schedule('in 5 minutes', 'post recurring stocks');
+agenda.on('ready', function() {
+  agenda.schedule('now', 'post recurring stocks');
+  agenda.schedule('in 5 minutes', 'post recurring stocks');
+});

on this thread:

https://github.com/rschmukler/agenda/issues/213#issuecomment-161131976

[2016-09-23 03:35] demianhh opened #369 "man manly"
Approved<manlyman\!>+

{

Fdgwpa[mail]}}

[2016-09-23 08:13] cojack commented on #359
@adrukh good point, thanks

[2016-09-23 08:27] adrukh commented on #359
A workaround would be to use `agenda`'s ability to initialise with an existing mongodb connection:
[code]

This requires `"mongodb": "^2.2.10"` in your `package.json` file, and will duplicate the dependency as `agenda` will fetch an earlier version.

See https://github.com/rschmukler/agenda#mongomongoclientinstance

[2016-09-23 10:16] ashansa commented on #335
Thanks a lot for the suggestion.
Since my agenda jobs need to be created at runtime, I could not schedule the jobs in 'ready' function. But I was able to fix the issue by changing the agenda 'ready' function as below.

`- agenda.on('ready', () => {
+ agenda.on('ready', function() {
  agenda.start();
});
`

[2016-09-26 08:15] huhamhire commented on #312
+1

[2016-09-27 09:48] cojack commented on #359
@rschmukler could you?

[2016-09-29 02:38] shengrong1987 opened #370 "[URGENT] agenda jobs causing mongodb to keep query and update"
I have a total of 6 jobs created with agenda. Two of them, "MealJob" and "OrderJob" are looped every 30 seconds, other 4 jobs are one time job( all with "run at" equals to "null" ) in database.

Every time my server is up for 4 to 5 hours on ec2( node app run with mongodb), the server stops responding. Upon checking, I found there are infinite agenda job-query and job-update in the mongodb log tha

[2016-09-29 09:25] simison commented on #370
Could you wrap that log to ``` symbols both before and after, please?

[2016-09-29 09:41] loris commented on #370
The problem lies within the `Agenda.prototype._findAndLockNextJob` method. The mongoDB query here is pretty un-optimized and is ran like a billion times per seconds.

IMO, the `findAndModify` criteria should be changed from
[code]
to
`{ name: jobName, disabled: false, locked: false, nextRunAt: {$lte: this._nextScanAt} }`
With this proper index :
`{ name: 1, disabled: 1, locked: 1, priority: -1, ne

[2016-09-29 17:03] shengrong1987 commented on #370
@loris Thank you for your quick response. I see there's already a pull request in the post you mentioned. And there's some conflicts, is the pull request still pending?

[2016-09-29 17:08] loris commented on #370
Yes, it is pending because it overwrites a more recent fix: https://github.com/rschmukler/agenda/pull/306
IMO, it would be better to extract the unlocking mechanism and have a simple `locked` boolean as I said just before, but it would require a bit of work, not sure I could do that in the coming days.

[2016-09-29 17:44] shengrong1987 commented on #370
so can I just rewrite using the pull request?

[2016-10-03 19:02] pravin-d opened #371 "Run Agenda as bg queue"
I have some questions with regards to the example in
https://github.com/rschmukler/agenda#example-project-structure

Can I use pm2 to run 2 process namely
1. JOB_TYPES=email node server.js
For adding job to database
2. JOB_TYPES=email node worker.js
to process the job

When agenda.now(...) is called from app.post('/users',..) where or who  runs the job ?  server.js or worker.js process ? What happ

[2016-10-05 20:55] demianhh commented on #369
6116  3832 3434                       6796
<sc877458604382573965>
<crédit dix please>[562-81-5439] dll#d1081531-unemployment-sucks add,450/why/?/hey,Côme on.

[2016-10-07 06:39] ricalhsieh opened #372 "MongoError: no mongos proxy available"
I'm using mongos and had error:

/usr/src/app/node_modules/mongodb/lib/utils.js:98
    process.nextTick(function() { throw err; });
                                  ^
MongoError: no mongos proxy available
    at State.pickServer (/usr/src/app/node_modules/mongodb-core/lib/topologies/mongos.js:268:33)
    at Mongos.command (/usr/src/app/node_modules/mongodb-core/lib/topologies/mongos.js:713:33)

[2016-10-11 17:34] dylanjha commented on #364
This is not the documented behavior and this is not the behavior I'm seeing:

In this example, two jobs get correctly scheduled

![1__crowdcast__node__node__and_schedule_same_task_with_different_data_ _issue__364_ _rschmukler_agenda](https://cloud.githubusercontent.com/assets/764988/19281246/3256a138-8f9e-11e6-8c37-d3298d864437.png)

[2016-10-11 17:39] dylanjha opened #373 "create unique job without over-riding the scheduled time"
this is a feature request, (or maybe there is a way to do this already?)

[code]

* Is there any way to do the above, without overriding the original scheduled time? (in this example - keep the job scheduled at 12:30)

[2016-10-14 14:21] scheung38 commented on #357
so is it still a bug? Because I also don't see my cron job running when node server is running?

[2016-10-14 14:31] scheung38 opened #374 "Does Agenda work in node application?"
Following from Example Uage:

[code]

My implementation:

[code]

But no output when starting with npm start?

$ Listening at http://localhost:9090 ....

EDIT:

Removed console.log(job.attrs.data.time, 'hello world!');

and now it is running every 10 secs

Listening at http://localhost:9090
We are connected
Connected successfully to energy server!
We are connected
Connected successfully to energy

[2016-10-15 22:30] mKontakis opened #375 "Restart jobs on server restart/failure"
I know this topic has been discussed a lot but i cant manage to make it work.
Can someone post a clear example to explain how to achieve that functionality?

So to begin with,

I create the jobs dynamically. The user fills up a form to receive some alerts.

[code]

I make use of the graceful shut down as suggested in the documentation.

[code]

Any suggestions?

[2016-10-16 13:03] serganus commented on #312
+1

[2016-10-18 20:17] MonstroDev commented on #375
+1

[2016-10-19 20:26] shengrong1987 commented on #277
+1

[2016-10-20 11:54] jirayuzanroo opened #376 "Mismatch MongoDB version when npm install"
Hello.

I'd like to npm install agenda@0.9.0 with Mongodb that support SSL version (2.2.10)
but I got MongoDB version 2.1.11 when npm install agenda@0.9.0

Thank you.
Regard.

[2016-10-20 23:39] aysark commented on #239
@loris toObject() does not work.  I've tried passing:
`{person: person.toObject()}` and also toJSON().

It gives a typeerror; `TypeError: Argument must be a string`

Seems like Agenda only accepts Strings for data values which seems like an odd limitation.

[2016-10-21 14:08] simison commented on #376
Duplicate? #359

[2016-10-24 15:20] swapnil001 opened #377 "Doubt"
Hi,

Suppose I have a job running after every 5 seconds, and the first one is not finished yet then will second process start running or because of locktime, my second process won't run?

[2016-10-25 11:26] obbaeiei commented on #376
It's fixed commit https://github.com/rschmukler/agenda/commit/72101bc528a27aa5f8c0aa8406f971bc631d8221

But there didn't publish to npm yet.
I still got MongoDB 2.1.11 on agenda@0.9.0

[2016-10-25 14:44] gsmhcrew opened #378 "MongoDB crashes after findAndModify calls"
Hello everybody,

Lately, I've been seeing that not all of my jobs are being ran at the proper time,
I'm using node-windows for making the agenda process work as a service,
And after examining some of the logs, I can see that the errors I receive are mainly from
the mongodb instance, which tells my **errconrefused**, from the 127.0.0.1 port.

I was suspicious about it, so after reading the mongodb

[2016-10-26 11:47] manuel-di-iorio commented on #326
I close this issue as the problem has not been occurred anymore after almost 3 months of testing, probably was a bug with an old version of Agenda

[2016-10-26 11:47] #326 closed

[2016-11-06 15:20] malcommac opened #380 "Cannot use agenda: "Cannot read property 'findAndModify' of undefined""
Hi,
that's the code

[code]

It fails:
`
/usr/local/bin/node /Users/danielemm/Repository/Code/breakfastcode.io/crumbs/Crumbs/bin/www
TypeError: Cannot read property 'findAndModify' of undefined
    at module.exports.Agenda.saveJob (/Users/danielemm/Repository/Code/breakfastcode.io/crumbs/Crumbs/node_modules/agenda/lib/agenda.js:356:21)
    at Job.save (/Users/danielemm/Repository/Code/breakfastcod

[2016-11-06 15:21] #380 closed

[2016-11-08 06:34] swateek opened #381 "Dynamically Reschedule Agenda Jobs"
I want to modify a scheduled Agenda Job through my code.

Is it only the "repeatInterval" and "nextRunAt" in the job collection that needs to be modified? Or is there a cleaner way to do the same?

[2016-11-08 10:59] mirkods commented on #324
any news about?

[2016-11-08 11:37] danibjor commented on #324
I added this to my `worker.js` - and after that, the problems about jobs being in an inconsistent state due to docker image restart was resolved.

[code]

[2016-11-08 12:40] cberigan commented on #324
Are you sure this works for non-repeating jobs (Created by agenda.now)?
I've done this too but the "now" jobs don't get picked up again.

On Tuesday, November 8, 2016, danibjor <notifications@github.com> wrote:

[2016-11-08 14:18] danibjor commented on #377
I have multiple concurrent jobs overlapping - and the logs show they start when they are scheduled. So, no delay or locking.

[2016-11-08 14:24] danibjor commented on #324
No. not sure. My environment runs repeating jobs, and it works there.

But from reading the code, `stop()` runs `_unlockJobs()` witch then sets `lockedAt: null`.

What does the job look like in MongoDB?

[2016-11-08 14:43] cberigan commented on #324
You are right that agenda unlocks them properly, but this is not that kind of issue. The reason why jobs created by  `agenda.now` are not being picked up is because agenda doesn't look for them. More specifically, it does not query for jobs that DO NOT have a `nextRunAt` property. To answer your question, jobs created using `agenda.now` do not have a `nextRunAt` property, which makes them slightly

[2016-11-09 16:39] aitvijay commented on #356
You Missed endDate declaration in computeFromInterval

[2016-11-17 07:31] panagorn opened #382 "Agenda Every vs agenda repeatEvery"
Hello,

I want to run same job multiple times with different data i use
agenda.every('15,35,55 * * * *',   'myjob', {name:"john"});

but i see in the issues that i have to use this
agenda.create('myjob',{name:"john"}).repeatEvery('15,35,55 * * * *').save();
but this codes runs when it is execute and then it repeats at the given time.

The previous code agenda.every('15,35,55 * * * *',   'myjob', {

[2016-11-18 14:43] kfiroo commented on #131
Issue seems to be resolved on latest release

[2016-11-21 05:44] Kuraturpa commented on #370
+1

[2016-11-21 17:30] kfiroo commented on #373
@dylanjha You could use absolute time, i.e. both call will call schedule with 12:30

[2016-11-25 14:36] ptitdje45 commented on #312
+1

[2016-11-30 14:27] BlackHawkNL commented on #209
A feature like this would be awesome, any news on it yet?

[2016-12-01 00:14] julianusti opened #384 "run job for different timezone"
I have users in different timezones. And every day I have to send them notifications at 10am.

Can you give suggest any solution for that?

thanks

[2016-12-01 02:50] #384 closed

[2016-12-01 09:31] julianusti opened #385 "job runs immediately instead of scheduled time."
My issue is when I create a job it runs immediately instead of scheduled time.

Here's a job that I'm trying to create. It suppose to run every day at 10am of user's timezone:

[code]

Here's whats created in `agendaJob` document in mongodb for this job:

[code]

- It is failing because it doesn't run **next day 10am** but instead it runs `immediately`  that's why job failing, because data is not

[2016-12-01 15:32] edwardbrosens commented on #312
+1

[2016-12-01 20:28] julianusti commented on #385
Fixed, the solution is:

[code]

[2016-12-01 20:29] #385 closed

[2016-12-02 18:25] droppedoncaprica commented on #369
I'm going to lock / clear this out since it appears to be spam.

[2016-12-02 18:25] #369 closed

[2016-12-03 18:38] avivroth commented on #99
Is there any case where you can't replace "job.repeatAt" with a clever use of "job.repeatEvery" and "job.schedule"? e.g. instead of job.repeatAt('1:00am') you could set job.schedule('tomorrow at 1:00am') and job.repeatEvery('1 day') and get the desired effect.  Am I missing something?

[2016-12-03 20:49] glesage commented on #99
Yes I believe this will work. Personally though I try not to rely on job nesting.. to be safe (:

[2016-12-03 23:58] nwkeeley commented on #99
@avivroth if you do your approach and the job runs at 1am it will then reschedule and run again at 1am the next day.

However if the server goes down at 12am, comes back online at 5am your job will run right away. The problem with repeatEvery is that it simply adds 24hrs to the last time it executed.

RepeatAt maintains the time even if there is a server outage.

[2016-12-05 01:40] genetique-techno commented on #335
The `Agenda` constructor is asynchronous, and you can't trigger job without the agenda being started.  You need a flow similar to the first example in the docs:
[code]

[2016-12-09 18:31] darrymorales commented on #18
👍 for Postgres!

[2016-12-09 22:46] igorissen commented on #165
@joeframbach Still no answer since 2 April 2015 .. Is there a way to close properly all connections to MongoDB ?

[2016-12-09 23:03] joeframbach commented on #165
From the [nodejs documentation on process.exit](https://nodejs.org/api/process.html#process_event_exit):

The synchronous example code,

[code]

will output correctly when `process.exit(0)` is executed, however, this asynchronous code will not work:

[code]

The method to close active mongodb connections is asynchronous. Taken from the agenda readme:

[code]

`stop(cb)` needs to do run a mongo que

[2016-12-10 08:04] igorissen commented on #165
Ok so `agenda.stop(cb)` should properly close all mongo connections after running a last mongo query ? As a user of agenda we only need to call `agenda.stop(cb)` when one of this happen

[code]

Right ?

[2016-12-10 23:57] igorissen commented on #374
@scheung38 I think there is an issue in your code.

Before:

[code]

After:

[code]

Hope it helps.

[2016-12-11 11:15] igorissen opened #386 "[Question] How a scheduled job can have 3 states (queued, running, completed)?"
Hi,

I'm facing some issue right now with my process using agenda to execute some jobs every day. I'm using `agendash` for the UI. Sometimes one or many of my scheduled jobs have some weird states

- queued, running, completed
- running, completed (without a lock date)

So I'm trying to find if I'm doing something wrong and understand how agenda works in background.
When agenda start a job, a chil

[2016-12-14 02:37] codingmaven opened #387 "How to schedule Agenda job to run every day at midnight"

[2016-12-15 21:10] timelf123 commented on #378
Does this change fix it? https://github.com/rschmukler/agenda/pull/268

[2016-12-15 22:06] charlesdeuter opened #388 "agenda job runs immediately when calling job.repeatAt();"
When calling our job as such

[code]

The job appears to run immediately!

What's going on here?

Shouldn't the job run at 1:30pm? Why is it running immediately.

[2016-12-20 01:11] #388 closed

[2016-12-20 12:16] kartojal commented on #239
After 2 hours of annoying `TypeError: Argument must be a string` found an another "workaround" for this issue. My data attribute also contains MongoDB docs with _id fields.

If you "delete" the data object that contains ObjectIds before calling done() , it will not raise the `TypeError: Argument must be a string` error, example:
[code]

[2016-12-21 08:56] w4-sjcho opened #389 "Timed-out job restarted repeatedly"
If we create a job that fails to call `done()` for some reason (e.g. bug), the job gets retried until we reach  the default concurrency.

Example code:
[code]

Sample output:
[code]

Also, there's no failed event when the job time outs.

[2016-12-21 20:37] igorissen commented on #386
Fixed my issue by increasing the pool size of mongoose. So not related to agenda. Sorry about that.

[2016-12-21 20:37] #386 closed

[2016-12-23 18:51] sudersen opened #390 "Multiple jobs with same schedule time are not getting scheduled."
I'm able to reproduce [issue](https://github.com/rschmukler/agenda/issues/278) even on 0.8.1
have at least 2 instances of agenda running on your local and fire multiple request for jobs bearing same timestamp. You would notice that some of them gets stuck in mongo with only **lockedAt** field set. This would go on till you choose to restart the whole agenda set up.

[2016-12-24 02:28] joeframbach commented on #165
In the original issue, the text is "doing a smooth close instead on a process.exit(0)" but was it supposed to be "doing a smooth close instead **of** a process.exit(0)?" The meaning is a bit different.

The first case, "Can I intercept process.exit(0) and gracefully close connections before exiting?", the answer is no.

The second case, "Can I react to SIGTERM, SIGINT, and uncaughtException, by gr

[2016-12-28 09:18] cojack opened #391 "Please Tag!"
@rschmukler could you tag version 0.9.0?

[2016-12-28 13:57] rschmukler commented on #391
Sorry on the delay! Tagged master at 0.9.0

[2016-12-28 13:57] #391 closed

[2016-12-30 18:12] panagorn opened #392 "Get Job Id when save"
Hello i want to get the job id when save so i can access it later

if i write the following i get the below results:
var job = agenda.create("LIGHT",{macAddress:"ASDf", isOn:2}).repeatEvery('0 '+1+' '+2+' * * '+1).computeNextRunAt().save();
  console.log(job);

where is _id field?

Job {
  agenda:
   EventEmitter {
     _name: undefined,
     _processEvery: 30000,
     _defaultConcurrency: 5,

[2017-01-03 19:41] hiteshbal91 opened #393 "Cannot read property 'format' of undefined failedReason"
Hi Team,

I am getting the above-mentioned error on agenda following is my snippet code.

`'use strict'

var agenda = require('agenda')

var helper = require('./../helper.js')

class Agenda {
	constructor() {
		try {
			let that = this
			let config           = app.config.get('dj_db')
			let options          = config.options || {}
			let connectionString = helper.util.format(config.uri + '%s', con

[2017-01-05 09:01] ragulka opened #394 "Agenda doesn't start processing jobs, job's are not persisted to DB"
We just started seeing this recently - sometimes after the server restart, agenda does not start processing any jobs, even though there are non-locked jobs in the DB. Also, at the same time, sometimes jobs are not even persisted to the DB, but that seems to happen intermittently.

It _sounds_ like an issue with the mongoDB connection, but I'm surprised that agenda doesn't seem to throw or log any

[2017-01-05 12:25] ragulka commented on #394
I don't know why, but when I switched Agenda to a dedicated database (meaning, separate from the rest of the app), it started working normally. What's more, so far I haven't detected that any of the other DB operations on the main app database are failing or taking a long time.

[2017-01-11 09:05] ka-sh commented on #99
I went through the same issue, however, @btknorr solution worked well for me.
I am not doing anything fancy with date formats, following the same example as showing in the repeatAt section in documentations

`agenda.define(name, function (job, done) {`
      `logger.info('Executing job with data: %j', job.attrs.data);`
      `setTimeout(function () {`
       `console.log('Processing done...');`

[2017-01-12 01:01] iagomelanias commented on #309
+1 for Redis!

[2017-01-12 07:13] Nishchit14 commented on #144
@droppedoncaprica
`job.pause()` is not present there, firing error of undefined.

Now for pause I've did first `job.disable()` then `job.enable()` on un-pause. But after enabling job, It's not running (I've setup it with every 20 seconds)

After enabling data looks like this
[code]

[2017-01-12 10:21] nikolajordanovski commented on #312
+1

[2017-01-13 12:00] kerimdzhanov opened #395 "Agenda v0.9.0 publishing problem"
There are difference between v0.9.0 that is published in the NPM repo and v0.9.0 that is in github repo.

In the npm version 0.9.0 was published 5 month ago, but in github it's released 16 days ago.

And sure that the source code and changelog are different as well.

The npm package's changelog:
[code]

The github's release changelog:
[code]

Can you release and re-publish agenda again? Thanks in

[2017-01-17 00:50] bonesoul opened #396 "cancelling completed jobs only?"
is it possible with .cancel()?

[2017-01-17 00:55] bonesoul commented on #370
any updates on this?

[2017-01-17 09:21] ucpwang opened #397 "What I want is to not `behavior` at the moment of booking"
hi~

Thank you for making the module so good.
I found this and it was so much fun.
I am developing a question, so I leave a question.

I am doing iterative scheduling using the `job.repeatEvery` function.
What I want is to not `behavior` at the moment of booking
I don't know if I can control this as an option.

[2017-01-18 04:50] helxsz opened #398 "job immediately started while it is supposed to start at the certain time"
I am running a repeatable job everyday, my code is as followed

define a agenda job
[code]

start a agenda job
[code]

However this job is being started immediately after I submit the job, I tried many different time format, like 'at 4:48', '4:48', '5pm' , 'at 5pm', all didn't work

[2017-01-18 05:02] helxsz commented on #388
@charlesdeuter I had met the same problem, how do you solve the problem?

[2017-01-18 05:39] #398 closed

[2017-01-20 03:07] kiaksarg opened #399 "Jobs with small repeat Interval (1 second) cannot be modified"
Hi
I have a job with "1 second repeat Interval" that when I want to disable it and add to or modify some data in the job.attrs.data (while it is running) nothing happens (my changes do not save in the db) that I think this is because of that after a job completed, pre job's info overwritten on my changes therefore I can't modify my jobs with "1 second repeat Interval" unless I remove that and then

[2017-01-21 20:04] demianhh opened #400 "microacope"
softwere

[2017-01-23 21:58] igorissen commented on #387
You can use Cron syntax: `0 0 * * *`

[2017-01-30 03:34] vkarpov15 opened #401 "Can't cancel a job once it's already locked"
The below script will still print "Hello" long after the job has successfully been cancelled. For now I'm going to just check whether the job has been cancelled in the job itself, but is there any better way to work around this? Based on my reading of the code, it looks like once a job is locked and in the in-memory queue, there's no way to cancel it.

[code]

[2017-02-02 16:43] derickbailey opened #402 "repeatAt setting is not respected"
I've got a job set up with the following:

[code]

when I set my clock to 3pm in the correct timezone, the job runs. upon completion - a few seconds later - the job is rescheduled and set to run the next day ... at 3pm + a few seconds.

if I schedule this job for 3pm, and then set my clock to 5:15pm in the correct timezone, the job will run as expected, because the time has passed and it needs to

[2017-02-06 07:01] airbinder commented on #165
On the original question, whether can you close mongo connection. If you look at the test case, it accept mongo connection (`var MongoClient = require('mongodb').MongoClient;`) and later you can `mongo.close()` manually.

I guess this is the only option for now.

Also you can access mongo connection from agenda using '_mdb'.
So, maybe something like:
[code]

Disclaimer, I tried the code above, and

[2017-02-07 19:15] galniv commented on #395
Bump. This is still an issue. It will be especially helpful to have a tagged version that includes the fix for #379.

[2017-02-08 07:05] netputer commented on #395
Ping @rschmukler

[2017-02-09 01:17] ceh-deployer opened #404 "Cannot read property 's' of undefined after updating mongodb & mongoskin"
Hi,

Using Agenda@0.9.0 and after updating mongodb to 2.1.22 and mongoskin to 2.1.0 I'm getting the next error:

[code]

Is there any solution? Any fix?

Thanks!

[2017-02-11 00:06] whnunlife opened #405 "Using the express example, unsure what the correct way is to start the app"
Been looking at the example structure in the readme. I'm a little confused.

What is the proper way to start the app? Do you have 2 node apps running? One for the app and one for the worker? If so, how do you start the app, which in a controller via the example, requires agenda, and seems to kick that off.

If you run it in 1 web app, then kicking off a heavy lifting job, how is that not going to

[2017-02-14 23:57] #405 closed

[2017-02-15 09:07] adrukh opened #406 "Integrate `semantic-release`"
Seeing the tension between people wanting to see releases published to npmjs, synced with github releases, etc., I'd like to suggest using [semantic-release](https://www.npmjs.com/package/semantic-release)!

### How does this help:
Using `semantic-release` greatly simplifies release processes. Once used, every commit to the `master` branch will publish a new build on npmjs.com and a new release on

[2017-02-15 10:15] serge-nikitin commented on #131
I have the same problem. agenda@0.9.0, node@7.5.0

My workaround of this problem is deleting of agenda collection at start time. It's not important for me the persistence, but I'm afraid to rely on graceful exit.

[2017-02-20 14:47] Radiergummi commented on #312
This has been fixed in `moment-timezone@0.5.11`: https://github.com/moment/moment-timezone/issues/231#issuecomment-269029712
Would you mind updating agenda's dependencies?

[2017-02-20 15:50] valetzyzy commented on #392
I found some workaround

[code]

[2017-02-22 12:47] ccanete commented on #404
I've found [here](http://stackoverflow.com/a/40558691/5085859) that the problem comes from the `mongodb-core` version used.

So, if you are using a mongodb version > 2.2.x in your project, ObjectIDs are not compatible.

The solution I've found is to hack the dependencies of agenda and force it to use mongodb@2.2.x and mongodb-core@2.0.x. To do so, you can use `npm shrinkwrap` that will generate a

[2017-02-22 13:24] havanakoda commented on #382
It has been fixed here: https://github.com/rschmukler/agenda/issues/192

To sum up, if you'd like to use job.repeatEvery(), you should call job.computeNextRunAt() before saving it. This will avoid the job to run when it is saved.

[2017-02-22 18:56] TimJohns commented on #345
Any resolution?  We're seeing the same thing and are considering instrumenting processJobs() to see if we can figure it out.

[2017-02-22 19:00] netslayer commented on #345
After we revised the code with async lib and made sure only one job.done() was being called it started working smoothly. This led to the patch to fix concurrency with multiple done() calls. Clearing jobs collection and bouncing node does seem to alleviate any stuck jobs but this rarely happens now for us.

[2017-02-26 00:09] Conroman16 commented on #402
Bump?  @rschmukler Any word on why this is the case?  I'm having an issue with `repeatAt` as well

[2017-02-26 23:33] lakamsani commented on #404
Seeing a similar problem, with agenda 0.9.0.Here are my mongodb dependencies. This is with node.js 7.6.0

├─┬ mongodb@2.1.11
│ ├─┬ mongodb-core@1.3.10
│ │ ├── bson@0.4.23

[code]

[2017-02-27 00:11] lakamsani commented on #404
In my case problem seems to be the new 4.8.x version of mongoose and the dependencies it is pulling. I went back to 4.4.17 version of mongoose so the dependencies look like this:

[code]
And the above error went away.

[2017-02-27 23:35] rubenjimenez commented on #404
Hi,

I have the same issue. Tried all the solutions here but none worked.

[code]

[2017-02-28 01:40] lakamsani commented on #404
@rubenjimenez send the output of `npm list bson` as well.  Did you use `npm shrinkwrap` as suggested by @ccanete above to get `agenda 0.9`  to use  `mongodb 2.2.24`?

[2017-02-28 01:59] rubenjimenez commented on #404
[code]

Yep @lakamsani, I used it and nothing. I'm debugging agenda.js (0.9.0) code and I'm discovering some weird things.

The first one, in **_findAndLockNextJob** method, the github code version has this line:

`var s = this._mdb.s || this._mdb.db.s;`

But the 0.9.0 npm version has not.

It's there where the error is occurring because _mdb is undefined.

The **database** method should run the M

[2017-02-28 02:08] lakamsani commented on #404
I think the callback is called later in `handleLegacyCreateIndex` which in turn is called by `self.db_init`.
In my project I have multiple mongo db connections via mongoose. And Agenda 0.9 is able to make its own (non-mongoose connection) just fine. If possible send the 'config.db' property value you are passing in when constructing the Agenda object initially. Also definitely try with older versi

[2017-02-28 02:23] rubenjimenez commented on #404
This is the config.db value:

`mongodb://user:password@shard0.mongodb.net:27017,shard1.mongodb.net:27017,shard2.mongodb.net:27017/master?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin`

You're right, after a little delay it connects but initially it prints those undefined errors. I have not tested if Agenda works properly but it should.

Right now, in production, we're running using Agenda

[2017-03-01 12:51] Santas commented on #395
+1

[2017-03-01 18:46] Firanolfind opened #407 "instance of Job or isJob method"
It would be cool if I could have direct access to Job class.
I am working with some kind of cronobs models (email subscriptions) in my project. Module constructed applies attributes obj or Job object. If it receives job it auto fills model attributes. The problem I have encountered with, is that I can not determine is it Job or not.
I am planning to make PR, but I think it is better to ask, which

[2017-03-02 14:56] Firanolfind commented on #407
Bump?

[2017-03-05 10:50] Firanolfind commented on #407
Hello! Anyone?

[2017-03-07 23:21] charlesdeuter opened #409 "For long running jobs every time lockedAt is updated LastRunAt is overridden with the same timestamp"
For long running jobs every time lockedAt is updated LastRunAt is overridden with the same timestamp.

1.create a job that will take a long time to complete, over an hour in my case.

2.Run the job.

3.Wait for the job to complete

Expected:

the lastRunAt property should be the time when the Job was started.

Observed:

Every time the locked at property is updated the lastRunAt property is overru

[2017-03-09 10:26] Benew opened #410 "If server is shutdown, unfinished jobs won't resume"
using

[code]

locked jobs are unlocked BUT when server restarts agenda does not restart jobs that weren't finished. These have a `lastRunAt` prop set :

[code]

How to handle jobs that should be restarted ?

[2017-03-09 13:46] SymphonyKenanBerbic commented on #410
+1 We have same problem with agenda.

[2017-03-09 14:05] SymphonyKenanBerbic commented on #410
And this is how we tmp fixed that issue:

mongodb.connection.on('open',function () {
    mongodb.connection.db.collection('agendaJobs', function (err, collection) {
        collection.update({lockedAt: {$exists: true } }, { $unset : { lockedAt : undefined, lastModifiedBy:undefined }, $set:{nextRunAt:new Date()}},{multi:true},function (e,numUnlocked) {
            if(e)
                console.erro

[2017-03-10 09:38] KfirShainholtz opened #411 "High ram usage on queries causes crashes"
Hello everybody,
I've been using agenda for a while now,
and I have a bit of a problem lately,

I'm running 400-600 recurrent jobs, that each run one to six-seven queries.
The queries could have up to 8000 results, that each of them could contain a quite big json object.

My question is, can I somehow make sure that the server won't crash when agenda is running
the queries? something like streamin

[2017-03-10 13:47] gastonelhordoy commented on #411
Hey @KfirShainholtz , I'm not completely sure if your problem is with Agenda's queries or with your concurrent jobs retrieving lot of information all together.

I guess it's the latter, so quick question, do you really need to retrieve all the information at once? Maybe something like [mongoose cursors](http://thecodebarbarian.com/cursors-in-mongoose-45) can help you out decreasing the memory requ

[2017-03-10 15:31] KfirShainholtz commented on #411
I do need to retrieve all the information at once, because the logics
of aggregating the queries (injecting the results to the next query) is
used in the server, and then being sent to the query-run servers.

I guess I may need to cluster everything, but how could I load-balance everything,
when Agenda is not a stateless package?

[2017-03-13 12:18] Firanolfind commented on #407
Anyone? Is this project alive?

[2017-03-15 14:35] patrickd- opened #412 "Questions about concurrency and co"
##  now(name, [data], [cb])

Reading that I understand that the job called name would be executed asap and *only once*.

Looking at the tests though
[code]
the test seems to expect that although .now() was only called once it is executed twice.
What I'd expect is that after calling .now() once is that also job job is executed once because the documentation says "run name once immediately".

Am I g

[2017-03-20 09:22] code2be opened #413 ".unique() to have a callback ?"
Hello,

I'm using .unique() to make sure the same job doesn't get created more than once at the same time.
But, I feel the need of having a callback, which will be simply called once the duplicate job get rejected because of .unique().

So, What do You think about adding such callback ? Is it existing somewhere and I don't know ? Somebody worked on it so I don't do it again myself ?

Thank You.

[2017-03-20 22:24] westrem commented on #395
+1

[2017-03-22 11:27] jdmunro commented on #395
Also impacted by this. Looks like maybe the original maintainer is no longer active on this project.

[2017-03-22 11:44] thekarel commented on #395
@jdmunro You can pass in your own mongo client to Agenda so it won't use its own outdated module:

[code]

Works fine with Mongo 3.4.

[2017-03-22 13:04] simison opened #414 "Maintainers needed?"
Heyy @rschmukler,

I really like Agenda and I use it a lot! :beers: Just pity that maintaining this package isn't very active anymore. :-(

There seems to be enough interest from community to send pull requests and open issues tho, so perhaps we could find some folks to help with looking after PRs and issues?

WDYT?

Unfortunately I'm already super busy with other open source stuff myself.

Anyone

[2017-03-22 13:06] simison commented on #395
Maintainers needed? https://github.com/rschmukler/agenda/issues/414

[2017-03-22 15:35] gastonelhordoy commented on #414
I'll be more than willing to help out and contribute if needed. I'm also heavily relying on this project so it would be good to get some progress on PRs and issues.

Let us know your thoughts on this @rschmukler

[2017-03-22 22:49] Firanolfind commented on #414
Agree. +1

[2017-03-23 02:08] rschmukler commented on #414
Hey all! I would be ecstatic to get some help maintaining. I deeply apologize for the lack of maintenance. I recently founded a company and have largely transitioned away from Node so my efforts have been limited as late.

How would you all suggest I proceed from here? Just grant access to a few people on the repo?

PS I will publish #395 tonight

[2017-03-23 02:23] rschmukler commented on #395
Hey all. I'm so terribly sorry for the delay on this. I have republished under `agenda@0.9.1`. Feel free to follow along in #414 discussing how we can improve this.

[2017-03-23 02:23] #395 closed

[2017-03-23 02:28] rschmukler commented on #414
Hey all. I just got Node re-set up on my home computer. This means that I should be better equipped to handle maintenance issues around agenda.

That being said, I would still love help maintaining (and even further developing) this package!

If anyone wants to get involved, please feel free to post here or email me at `ryan@slingingcode.com`. I propose the following: People who want to maintain,

[2017-03-24 16:14] stepanlylak commented on #277
+

[2017-03-24 16:14] stepanlylak commented on #277
+

[2017-03-27 18:18] serge-nikitin opened #415 "Is it possible to configure initial delay for a job?"
I need to run my jobs with different initial delay. Pseudo code:

[code]

Is it possible to do it with agenda?

[2017-03-27 21:17] lakamsani commented on #404
@rubenjimenez  some of the issues I encountered above have been fixed with 0.9.1 version of agenda that was released a few days ago. https://github.com/rschmukler/agenda/issues/395 . It appears there was publish issue with 0.9.0 due to which the code downloaded via  didn't really support the newer mongo drivers. 0.9.1 of agenda seems to work in my app with mongodb node module version 2.2.25 and mo

[2017-03-27 21:22] rubenjimenez commented on #404
Thanks for the notice @lakamsani. We'll try it out. We were running 0.9.0 with latest mongo drivers without glitches excepting that undefined error at startup.

I'll update this post if I find some kind of issue.

[2017-03-29 22:45] arpithparikh opened #416 "TypeError: this._mdb.collection is not a function"
While compiling the node application , I'm getting following error! Hope developers can help me out to sort this error. Working on Mongo  reporting tool using agenda.
[code]

[2017-03-30 16:38] amsross opened #417 "Race condition registering listener on "ready" event"
Given the following code, `agenda` may emit the `ready` event before an event handler has been registered. Is there an approach to avoid this?

[code]

[2017-03-30 16:47] amsross commented on #417
This appears to have begun with this commit, though I can't say why yet: https://github.com/rschmukler/agenda/commit/a5b8a89df4d5bf4d7c667fa4a2559da8526da0df

[2017-03-30 18:00] amsross commented on #417
As far as I can tell, this has only just begin with the update of the `mongodb` dependency. I guess the difference in mongo speed is considerable. So if your db connects and ensures the indexes really quickly, then `ready` will have been emitted before you can register your listeners.

The only way I can think to mitigate this is to have the constructor return the instance without having fired the

[2017-03-30 18:04] amsross commented on #417
Hacked together example diff:
[code]

[2017-03-30 19:56] amsross commented on #417
For now, I'm using `cb` in `Agenda(options, cb)`, but that precludes the passing of a predefined `Agenda` instance to my constructor function.

[2017-03-31 11:47] bonesoul commented on #414
hope this package can get the love from community that it deserves

[2017-03-31 11:50] bonesoul commented on #407
i don't understand why we really need this.

[2017-03-31 11:53] bonesoul commented on #400
huh?

[2017-04-02 11:34] code2be commented on #232
Just confirming usage of third option, without it had Mongo eating up the CPU.

Thank You.

[2017-04-02 11:53] code2be commented on #415
I think You can use `.schedule(time)` for that purpose ?
Please check: https://github.com/rschmukler/agenda#scheduletime

[2017-04-03 06:28] arihantdaga commented on #209
Any Update on this.. ?
I think it's very important for such good plugin to have functionality for defining the job's behaviour only once but executing it at different times for different data.

[2017-04-03 12:25] arihantdaga commented on #100
I was also facing the same problem when using repeatEvery() on a newly created job.

var newJob = agenda.create("my new Job",data);
newJob.repeatEvery("49 17 * * 1,2,3");
newJob.save();

It was causing the job to execute immidiatey after adding. after that it would run fine on the saved time. But for the first time, it was executing without being desired.

So i changed something in the job.prototy

[2017-04-06 10:03] Firanolfind commented on #407
I thought I explained well. Access to constructor could give advantages while using job as orm model for crud via rest.

[2017-04-10 11:19] macasas opened #419 "agenda.schedule"
When I add a job using
        agenda.schedule(scheduleTime, 'reminder', {
          fbid,
          first_name,
          task
        });

everything runs fine.

In the same app, I have added another
        agenda.schedule(scheduleTime, 'subscription', {
          fbid,
          first_name,
          task
        });
and nothing happens.

The job is in the database and reports it should have r

[2017-04-10 14:17] macasas commented on #419
Okay, i've got my head around it now :-) Sorry to jumped the gun.

[2017-04-13 10:14] Yooo84 commented on #402
@rschmukler Have you found a solution because I have the same problem?
Thx

[2017-04-13 23:27] Conroman16 commented on #402
@Yooo84

Looks like @rschmukler is pretty busy these days and is unable to provide this repo the level of support it needs.

As for a solution to the problem, I don't have one that's worth anything.  I actually ended up just working around the issue by scheduling the jobs as singletons and then writing some extra code to manually reschedule them as new singletons....  lather, rinse, repeat

It's c

[2017-04-14 10:08] Febby315 opened #420 "TypeError: Cannot read property 'insertOne' of undefined"
var job = agenda.create('printAnalyticsReport', {userCount: 100});
job.save(function(err) {
    console.log("Job successfully saved");
});
//

ERROR：
TypeError: Cannot read property 'insertOne' of undefined
    at Agenda.saveJob (D:\Workspaces\Nodejs\AendaTest\node_modules\agenda\lib\agenda.js:364:21)
    at Job.save (D:\Workspaces\Nodejs\AendaTest\node_modules\agenda\lib\job.js:233:15)
    at Obj

[2017-04-15 07:12] MuraevArt commented on #416
this error occured if you use following `new Agenda({
        mongo:{ db: mongo, collection: 'tasks'}});`
Try this `new Agenda().mongo(mongo, 'tasks');`
This works for me.

[2017-04-16 16:21] hvarday commented on #416
Even I'm getting the same error, did you find any solution @arpithparikh ?

[2017-04-16 23:19] hvarday commented on #105
Hi,
@ragulka

Hope you might have found some solution or way-around to your issues, now in my case I want to work on a particular case where the job definition remains constant ```{ "name" : "reminder" }```, with different data-sets.

The issue with having different job names is that I would have to define job(s) on server start for them to run, which is not feasible. (as agenda doesn't store job

[2017-04-17 13:09] ragulka commented on #105
@hvarday in my case, I simply used 2 different job names for yearly and monthly subscriptions. However, with many many more different variations, it may not be feasible.

[2017-04-17 13:48] hvarday commented on #105
Even I did the same (different job names), but that does have a small issue, the job definition is lost every time server restarts. Although I just have jobs scheduled approximately ```in 1 minute```, which has less chances of getting destroyed.

Thanks @ragulka

[2017-04-19 21:49] Hanzofm opened #421 "Cancel job by id atribute instead name?"
Is there an option to cancel individual job with _id attribute instead name?

Like this:

agenda.cancel({_id: id}, function(err, result)

I've tried but the removed result jobs is 0

Some alternative?

[2017-04-20 09:51] jagadish-kb opened #422 "Scheduling job with agenda.every method with human interval runs the job immediately"
Scheduling the job with agenda.every method with human interval runs the job immediately and not after at the defined interval.
For ex., If i would like to run a Job every '4 hours', with the option
[code]
I see that the 'MY_JOB_NAME' runs immediately. Not sure why it is required to run the job immediately when scheduling via human interval. Even if it is required, can we atleast have an option wh

[2017-04-20 20:00] nemozny commented on #364
I faced the same problem and after some digging and testing the solution is:

- Do not use "agenda.every", it really creates the job of type "single" where second instance overwrites the first. However when I ran my whole agenda script few times over, sometimes it created 2 jobs out of 3 in the Mongo (I wanted all 3). Using callback hell corrected the "problem" and agenda created only 1 job at all

[2017-04-21 05:58] cylim commented on #420
This might be related to #213

[2017-04-21 06:06] Febby315 commented on #420
@cylim 谢谢，因为我没有把jab.save()放在ready事件处理函数中。Thank you, because I didn't put jab.save() in the ready event handler.

[2017-04-22 08:04] Hanzofm commented on #412
+1 to questions. Please answer it!

[2017-04-25 09:37] v1adko commented on #419
@macasas Probably better to close the issue then.

[2017-04-26 11:00] mariokam commented on #381
Hey, the same here. Any solution?

[2017-04-26 12:16] mariokam opened #424 "How to reschedule existing task?"
I wasn't able to find proper way to reschedule my task once I define it. I am defining a new task on every POST request from the user the following way:

[code]

Then within the agendaService I am first checking if the job exists, if yes -> cancel it and redefine it, then run schedule it and the define callback runs after the time to run comes.

[code]

Is there anything wrong about my approach? S

[2017-04-28 01:59] helxsz opened #425 "Schedule executed at a different time (showTime rather than nextRuntime)"
I used the code to create a schedule
[code]
however when retrieving this schedule, it prints out

[code]

it is strange that the timzone is empty, and the nextRunAt and showTime has one hour difference. The schedule works at the showTime rather than nextRunAt.

What goes wrong

[2017-04-29 18:48] itsyogesh commented on #404
I had the same issue. Apparently using the ready event solves this. Here is what I did before starting agenda. I am using agenda@0.9.1.
[code]
This works perfectly now.

[2017-05-01 08:23] swateek commented on #381
The idea is - when you reschedule jobs you need to do it programatically. Cancel the existing one and create another one when the time is modified.

I don't have a solution to this, using node-scheduler with a custom framework instead.

[2017-05-01 08:23] #381 closed

[2017-05-02 12:05] majidhassan opened #426 "Defining and running agenda jobs from separate files."
Hello,

I want to define the agenda jobs and run them in two separate files. I'm defining the jobs in one file, however, I want to connect to the same agenda from a separate file and run the jobs immediately. I thought configuring a new agenda with the same database url should do the trick, but I can't get it to work.

This is what I currently do:

File 1

[code]

File 2

[code]

Any ideas how to

[2017-05-02 15:50] droppedoncaprica commented on #414
I totally agree that this package needs a more active maintainers to keep this running.  I've moved to a new job that uses a completely different back-end myself, so I've not been keeping up with this library's issues / pull requests as much as I have in the past.

If anyone needs help with maintenance, feel free to @ ping me and I'll do my best to take a look at it!

[2017-05-02 16:04] harriswilliam opened #427 "Running new Jobs after server started"
I run my server and execute jobs that are already saved in database (agendaJobs collection ).

But if I add new jobs in database while server is already started, they are not executed.

How can I let it execute ?

[2017-05-04 06:49] mariokam opened #428 "MongoError: connection 3 to xxxxxx.mlab.com:yyyyy timed out"
I am having a problem with the connection timeoout sometimes on agenda. Can u help me pls?

MongoError: connection 3 to xxxxxxxx.mlab.com:yyyyy timed out

Using the free tier of mLab, is there any way to do more stable initialization of agenda mongodb connection?

thnx

[2017-05-04 08:25] simison commented on #428
You can pass Agenda existing Mongo connection from the main app instead of letting it connect on its own.

See https://github.com/rschmukler/agenda/blob/master/lib/agenda.js#L45-L49

[2017-05-04 08:30] mariokam commented on #428
The way I do it is the following:

[code]

[2017-05-04 08:59] simison commented on #428
Yep, so just use `mongo` config key instead.

If you then face connection issues, it's between your app and Mongo, and not Agenda related.

[2017-05-12 13:27] OmgImAlexis opened #429 "agenda.schedule does not produce an error with an invalid length"
The code below should produce a warning or error since "every second" isn't a valid time for `.schedule`.

[code]

[2017-05-14 05:15] OmgImAlexis commented on #414
@rschmukler maybe look at moving this to an org so it's easier to handle others getting merge rights, etc?

[2017-05-14 05:17] OmgImAlexis commented on #185
@droppedoncaprica close this as a dupe of #156

[2017-05-14 05:19] OmgImAlexis commented on #184
@droppedoncaprica since #309 is more active this can be closed as a dupe.

[2017-05-14 05:19] OmgImAlexis commented on #188
@droppedoncaprica since #309 is more active this can be closed as a dupe.

[2017-05-14 05:26] OmgImAlexis commented on #319
@jotapdiez please use [fenced code blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/#fenced-code-blocks) for large amounts of code.

From what you said it sounds like you're trying to run agenda in a browser not node, correct?

[2017-05-14 05:27] OmgImAlexis commented on #120
@mcodev1 can you confirm this is still an issue? If not can you please close the issue.

[2017-05-14 05:30] OmgImAlexis commented on #375
@mKontakis from the looks of it this should really be using the same job but with [unique](https://github.com/rschmukler/agenda#uniqueproperties-options). Maybe that'll fix your issue?

If this isn't a problem anymore please consider closing the issue.

[2017-05-14 05:31] OmgImAlexis commented on #390
@sudersen is this still an issue on 0.9.1?

[2017-05-14 05:32] OmgImAlexis commented on #360
As @simison stated this looks like a dupe.

@droppedoncaprica can you please close.

[2017-05-14 05:34] OmgImAlexis commented on #377
@droppedoncaprica can this please be closed as it's a question which has been answered.

[2017-05-14 05:36] OmgImAlexis commented on #297
@droppedoncaprica can this please be closed as a dupe of #18

[2017-05-14 06:59] OmgImAlexis commented on #327
Typos should be caught by tests and linting. This should be closed as it's not really an issue with agenda.

[2017-05-14 11:00] simison commented on #414
It's possible to transfer the repo for an org from here (at "danger zone"):
https://github.com/rschmukler/agenda/settings

Just create a new org first:
https://github.com/account/organizations/new

[2017-05-14 23:52] mcodev1 commented on #120
@OmgImAlexis Yes, though like I wrote in the issue, it's pretty confusing behavior in my opinion.

[2017-05-14 23:52] #120 closed

[2017-05-15 20:06] carrbrpoa commented on #427
Maybe I have the same doubt:

Let's consider this code:

[code]

I run it for the first time - OK. If I restart the server some time after, I expected the job restarted it's `console.log` job, but that don't happen. What am I doing wrong?

Thanks

[2017-05-16 07:39] OmgImAlexis opened #430 "Run job between x and y"
I'd love a few feature that only runs a recurring job between x and y hours/days, etc.

[2017-05-16 09:42] harriswilliam commented on #427
Hello,
I think your code is working.

You notice that your console.log take several time to happen. The reason is that the "nextRunAt" date of the job is already in the past when your server is restarted. So agenda has an internal routine to run it with a certain delay. I don't know what is this delay or how to set it, but that's it.

That's my opinion

[2017-05-16 12:18] carrbrpoa commented on #427
@harriswilliam you were right, it seems to be [defaultLockTime](https://github.com/rschmukler/agenda/blob/050d7455633ba747da0a70d24a5eb06b8624c797/README.md#defaultlocklifetimenumber), since the restart time I noticed was about 10 minutes. Changed it to 10000 (10 seconds) to test and server restart resumes the job almost instantly.

About the code you suggested, it says `TypeError: jobs[i].toObjec

[2017-05-16 12:21] carrbrpoa commented on #427
Well, guess I can just take `jobs[i]`:

![image](https://cloud.githubusercontent.com/assets/10212618/26105627/0e5e7df2-3a19-11e7-91d7-6368137cd207.png)

:D

[2017-05-16 13:40] harriswilliam commented on #427
Nice!!

I used "jobs[i].toObject();" because for some reason that I don't really understand, I can't access the data of the job object.

May be it is according the way I get my object from database. I didn't use "agenda.jobs" to get jobs object, but I used mongoose search methods directly.

[2017-05-17 14:15] #377 closed

[2017-05-17 14:18] #297 closed

[2017-05-17 14:30] #360 closed

[2017-05-17 14:30] #175 closed

[2017-05-17 14:30] #188 closed

[2017-05-17 14:31] #184 closed

[2017-05-17 14:31] #185 closed

[2017-05-19 06:53] omidmaldar opened #431 "mongodb user's role"
Hi,
What kinds of permission rights this module needs on MongoDB. And how we can define one in mongo? I know at least there is one: createIndex, what else?

[2017-05-19 10:12] #427 closed

[2017-05-21 14:16] renehauck opened #432 "Lose scope within callback-function"
Hi,

if I define outside of the callback function a variable, it is undefined within the function.

Can I bind "this" to agenda?

My code:

[code]
Thx

[2017-05-23 07:41] mathieug commented on #428
When I stop my local MongoDB server while my app is launched, I get an this error before it crashes:
[code]

I've tried to use the `mongo` config key, I've also tried db:{address:mongoConnectionString} (with auto_reconnect set to true).

[2017-05-23 08:14] mathieug commented on #338
My app crashes on this error, https://github.com/rschmukler/agenda/issues/428#issuecomment-303316352

[2017-05-29 15:34] medaamarnadh opened #434 "agenda._db is getting undefined."
Hi I am using agenda 0.9.1 version on Nodejs 6.9.5.

I had written some code as below.

[code]

[2017-06-01 19:34] Neoflash1979 opened #435 "TypeError: Cannot read property 'findAndModify' of undefined"
Just getting started with Agenda so I made a little test file to try it out. Here is my code:

[code]
And here is the error I'm getting when I run the file:

[code]

[2017-06-02 00:38] Neoflash1979 commented on #213
Hey guys, just wondering what the status was on this. I seem to be having a related issue. See #435.

[2017-06-02 00:44] Neoflash1979 commented on #435
So sorry about that. I realised my mistake. `agenda.every('15 seconds', 'print to console')` should have been inside the `agenda.on` callback.

[2017-06-02 00:44] #435 closed

[2017-06-02 02:03] Neoflash1979 commented on #422
@jagadish-kb Not only with human interval, but also with numbers. Unless I did something wrong, I'm having a problem where the job will run immediately and only once. It won't run again at the selected interval. Here is my code:

[code]

[2017-06-02 08:44] mecp commented on #412
I am not sure if this library is maintained, but it'd be really great if learned users could help here with these question.

[2017-06-02 10:41] Hyra opened #436 "Multiple workers process the same Job"
I have tried several things, but I can't seem to get multiple workers to work correctly.

One process will create a lot of jobs, and then I have a worker process processing those jobs (takes about 2 seconds per job).

I have scaled the worker process to 2, but i see that both workers process the same jobs, as if the locking doesn't work.

Does anyone have an example on how to make sure each worker

[2017-06-05 07:09] mirkods commented on #410
+1 same problem

[2017-06-06 01:23] karthikbalu commented on #18
for MySQL

[2017-06-07 09:33] nastya-kostyukova opened #437 "Count of commands to agenda db increases until restarting server"
Result of mplotqueries:
![agenda](https://user-images.githubusercontent.com/11842784/26871766-f37dae98-4b7c-11e7-8919-dcdd1b0cb113.png)
I use one job which runs every minute and also I schedule a jobs of 2 types to run name once at a given time to get delay.

[2017-06-07 11:19] manojchandrashekar commented on #426
I'm trying to do the same, with  no luck so far.

[2017-06-08 08:34] mathieug commented on #338
I've done a monkey patch in my project, it ignores the error returned by `_findAndLockNextJob` which is then thrown by `processJobs`.

[code]

[2017-06-08 23:42] SamClayton commented on #416
Same issue when I supply an existing mongoClient instance ('db' here).

agenda = new Agenda({
    name: agendaName,
    mongo: db,
    db: { collection: agendaCollection },
    processEvery: processEvery
  })

[2017-06-12 10:26] lushc commented on #426
You should use [module.exports](https://stackoverflow.com/a/5311377/1983684). Here's an example, given the following directory structure:

[code]

[code]

[code]

[2017-06-12 10:28] manojchandrashekar commented on #426
@lushc I followed the same `agenda.now()` fails if the connection to mongoDB is not established yet - which is 90% of the case for me.

What I have currently done is, I am connecting to mongoDB and passing the connection instance to agenda, which is working well as of now.

[2017-06-12 10:29] majidhassan commented on #426
@manojchandrashekar could you post your solution please?

[2017-06-12 10:30] manojchandrashekar commented on #426
Sure, I can do it later today.

[2017-06-12 15:56] manojchandrashekar commented on #426
`-- queue.js --`

[code]

`-- worker.js --`

[code]

`-- job.js --`

[code]

`-- data-source.js -- [This is the file you need to customize to return the DB connection object. Since I use loopback (http://loopback.io), this is what I have. You may actually use it as-is by installing the dependencies used below - but please do some extensive testing anyway.]`

[code]

Finally, to use all this to cre

[2017-06-12 18:37] manojchandrashekar commented on #436
Hey @Hyra - I created multiple workers for my queue and it is working as expected for me. Each job is picked by one of the workers only.

Note: I had both workers running on the same machine. Are yours spread across a network?

[2017-06-12 18:38] manojchandrashekar commented on #434
Perhaps the MongoDB connection is not established yet. Try wrapping your code within `agenda.on('ready', () => { ... });`

[2017-06-13 10:07] stolendog opened #438 "add job output to the job"
As I see there is no a field in the job to save job output after it's done successfully? like failReason field where error output is saved

[2017-06-13 12:42] gowridev opened #439 ")How to rerun Jobs are server restart,the jobs that are scheduled at once( "schedule(when, name, [data], [cb])""
I would like to rerun Jobs are server restart for job schedule at once. For example, a job is scheduled at 9 A.M on 8 A.M..  Server got restarted at 8:30 A.M.  The job(scheduled at 9A.M) is not getting executed. Could please guide how to resolve this issue.  DO we need call a function(agenda event) after server gets restarted ?

Tried the below function , no use
agenda = new Agenda({db: {address:

[2017-06-13 14:48] lushc commented on #422
It looks like the behaviour for running a human interval job immediately was introduced in dd5bd407.

[2017-06-14 05:21] michelem09 commented on #439
You should use the `schedule` function:

[code]

[2017-06-14 05:23] michelem09 commented on #438
You can use the data object:

[code]

[2017-06-14 05:27] michelem09 commented on #436
I have an Agenda with 8 different servers running jobs concurrently without any problems, check your code that's not a regular behaviour.

[2017-06-14 05:28] manojchandrashekar commented on #436
@michelem09 Thanks for confirming. I'm about to deploy a similar setup.

[2017-06-14 05:31] michelem09 commented on #431
It has to read and write the DB collection created by Agenda.

[2017-06-14 05:34] michelem09 commented on #429
If you want to schedule it one time try with `agenda.schedule('in 1 second', 'send email report', {to: 'admin@example.com'});` or if you want to repeat it forever try with `agenda.repeatEvery('1 second', 'send email report', {to: 'admin@example.com'});`

[2017-06-14 05:37] michelem09 commented on #419
Please close this.

[2017-06-14 08:29] OmgImAlexis commented on #429
Did you read my issue? I didn't ask how to use it I stated it should throw an error since it's not valid. It should show an error for my code just as it should if I set "red apples" as the interval.

[2017-06-14 09:05] DVassilev opened #440 "Priority of specific job"
Hey, is it possible to set the priority of a specific job not all jobs of that job type? For example, when doing .now() to specify high priority so it gets executed before other .now() jobs that may have been scheduled but not yet performed.

[2017-06-14 15:56] dylanjha commented on #414
@rschmukler thanks for all the work you have done on agenda. I second @OmgImAlexis @simison that I would be happy to help maintain

[2017-06-14 16:19] OmgImAlexis commented on #414
@rschmukler if you're okay with moving it to an org I'd be more than happy to start clearing out old issues as well as getting all the dev deps updated.

[2017-06-14 16:19] michelem09 commented on #414
I'm in too, if you need.

[2017-06-14 16:23] michelem09 commented on #440
I think `job.priority()` changes the priority of that specific job only.

https://github.com/rschmukler/agenda#prioritypriority

[2017-06-14 16:30] jpiepkow commented on #414
Same I use this in a production application and have had to look into the code more then a couple times.

[2017-06-14 16:34] nwkeeley commented on #414
Hi,

I am in a place to become more actively engaged with this module. I dropped offline for awhile to handle some family/work stuff but I am back and engaged.. I actually have this module running in production in 4 different applications soon to be 5 ..... so I am extremely vested in its success.

Really great to hear everyone interested in helping Ryan this is a fantastic module he's put togethe

[2017-06-14 16:50] joeframbach commented on #414
I would also like to move Agendash into the new Org. :+1: or :-1:?

[2017-06-14 17:11] simison commented on #414
@joeframbach is doing wonderful job with [agendash](https://github.com/joeframbach/agendash), would you like to move that to new org as well, WDYT? I would probably get more attention like that.

[2017-06-14 17:17] joeframbach commented on #414
Yup, can you create the org and invite me in? I'm not 100% on the process Github has for transferring, or how npm publishing handles it. But I'm sure I can figure it out.

[2017-06-14 17:18] simison commented on #414
@joeframbach see my comments above: https://github.com/rschmukler/agenda/issues/414#issuecomment-301304822

[2017-06-14 17:25] joeframbach commented on #414
I've sent a request to a human at Github to see if "agenda" is inactive and if we can take the name.

[2017-06-14 18:21] joeframbach commented on #414
Good news! I've created the Org https://github.com/agenda and will send invitations shortly. (I'm at work, it'll be over my lunch break so be patient)

[2017-06-14 18:26] dylanjha commented on #414
thanks @joeframbach!

[2017-06-14 18:35] joeframbach commented on #414
@rschmukler I've created the @agenda org and sent invites to anyone above who offered to maintain Agenda. I've invited you as an Owner of the org. Could you transfer Agenda to the org, and I believe that will close this issue :)

[2017-06-15 21:41] dff3bc commented on #404
@itsyogesh That seems to be the solution. Just tested.

[2017-06-15 23:34] rschmukler commented on #414
Hey all! It has been transferred. Thank you all for your efforts and your help. Closing this issue. Hoping that agenda can get the love it needs.

If you guys need publishing access on NPM, please email me (see my profile) your NPM username so that I can add you. Initially I'd like to keep publishers / release cutters to just a few people, but am happy to bring more on if you guys think otherwise.

[2017-06-15 23:34] #414 closed

[2017-06-16 00:19] dylanjha commented on #414
Thanks @rschmukler !

[2017-06-16 08:06] dylanjha commented on #417
I can't quite tell how you end up in a state where the 'ready' event gets emitted before you attached the `agenda.on('ready')` listener.

Looking at the source:
* 'ready' gets emitted here: https://github.com/agenda/agenda/blob/master/lib/agenda.js#L128

Following the backtrace to when 'ready' gets emitted, it looks like it happens async in the callback after `this._collection.createIndexes`

In y

[2017-06-16 08:10] dylanjha commented on #412
@joeframbach If you happen to know, any chance you could shed some light on these details?

[2017-06-16 08:59] simison opened #441 "Triaging issues and pulls"
It's a bit much for one person to go trough everything.

Any ideas/experiences how this should be done? Using tags or just list here (feel free to modify this post)?

Before anything is merged, should we have at least one "LGTM" from anyone in the team?

Everything should probably be sorted into:
- high priority
- low priority
- should be closed

[2017-06-16 10:34] stolendog commented on #438
Indeed! Thanks.

[2017-06-16 10:34] #438 closed

[2017-06-16 10:41] michelem09 opened #442 "Agenda Logo"
Hello,
if someone has some spare time and with a very low priority, what do you think about looking at an official  logo for Agenda (and for Agendash too)?

If you have some ideas we could share them here.

[2017-06-16 10:58] simison commented on #442
Here are three one minute sketches for something that would probably fit both:

---

![image](https://user-images.githubusercontent.com/87168/27223987-8b70616c-529b-11e7-8417-c9b9ef7af888.png)
Vote: :tada:

---

![image](https://user-images.githubusercontent.com/87168/27223990-92754752-529b-11e7-9cd7-4eb5b64e7a8c.png)
Vote: 😄

---

![image](https://user-images.githubusercontent.com/87168/27223995-

[2017-06-16 16:40] lushc commented on #412
I haven't been using this library for long but I'll try and answer to the best of my ability. If I've said anything wrong please correct me!

This is because it's testing whether a job is picked back up after its lock expires. Both the lock lifetime and the process tick are set to 50ms, so the job runs once when created with `now()`, but the job isn't finished by calling `cb()` so it doesn't autom

[2017-06-16 18:50] joeframbach commented on #412
I'll have time tomorrow to take a look

[2017-06-16 18:51] lushc commented on #441
Here are my opinions based on me poking around the repo the past few days and incorporating some of these PRs:

* #268 can be rebased and merged. There's a small conflict where the `lockOnTheFly()` query was refactored, [see this commit for reference](https://github.com/Codevate/agenda/commit/048c7f14e89e5fdcfe86dc74cc7aae42d7948bfe#diff-1ba7680cb21f30bb02af3c7899c41248L582). High priority.
* #241

[2017-06-19 07:45] gowridev commented on #439
On server restart ,fail event is not getting called. For example , i scheduled at 12:pm to run 12:30 pm. I restarted the server at 12:15 pm. Could please tell how to make sure ,that the job  runs at 12:30 on server restart

[2017-06-19 07:50] michelem09 commented on #439
Fail event is called only if your Agenda initialization failed. So I can't understand the problem.

[2017-06-19 10:22] gowridev commented on #439
let us say, I have two systems, A & B. In System A ,agenda is running & In System B, mongodb is running. I am accessing mongodb via URL. If a schedule a job using agenda at 12:30  pm by calling
agenda.schedule(schTime, 'schedule_broadcast', { })   where schTime is 1:00 pm. So agenda.define('schedule_broadcast_channels', function(job, done) {}) will be called at 1:00 P.M. If restart system A(where

[2017-06-19 12:00] dff3bc commented on #336
Same problem here. Jobs are created in an express.post('/url') function and they run when they are created. However, when the server restarts, they no longer run. The jobs exist in the database and {locked:null} but still nothing. Is there a way to kick off all jobs in the database or is this not going to be a viable option?

[2017-06-20 05:45] michelem09 commented on #439
Probably something related to this https://github.com/agenda/agenda/issues/410

[2017-06-20 06:16] michelem09 commented on #400
Close.

[2017-06-20 08:23] gowridev commented on #410
db.mongoLib.connection.on('open',function () {
^

ReferenceError: db is not defined.

could please tell me how configure db.mongoLib. does it point to mongo  databaseuri or agenda job instance ?

[2017-06-20 10:42] simison commented on #414
@joeframbach I think a lot of people added as contributors still cannot close/edit/merge issues or PRs: I think after adding to people to organisation, you still need to add them to a team and then assign that team to repository.

@dylanjha @nwkeeley @jpiepkow @michelem09 @OmgImAlexis @gastonelhordoy Follow ups here; #441 FYI: I'm too busy myself to do coding for this but never too busy to try ins

[2017-06-20 12:27] dziamid commented on #238
@j how did it go with heavy load?

[2017-06-20 15:55] michelem09 commented on #414
I confirm I can't close/edit/merge issue.

[2017-06-20 17:14] joeframbach commented on #414
I have created a @agenda/maintainers Team and assigned it Write access to agenda/agenda and agenda/agendash. I don't know if this grants rights to modify issues.

[2017-06-20 17:23] #420 closed

[2017-06-20 19:40] simison commented on #414
@joeframbach thanks, that worked.

[2017-06-20 19:40] #419 closed

[2017-06-20 19:40] #400 closed

[2017-06-20 19:45] simison commented on #441
@lushc would you be interested in hopping on board and working on getting some of those high prio PRs merged in? Did you see #414?

Personally I have energy to poke around to get people active on this amazing library again but no really time (or insight in Agenda) to get coding.

[2017-06-21 05:57] michelem09 commented on #414
@joeframbach am I in? I still can't do much.

[2017-06-21 06:09] michelem09 commented on #413
The callback is the `save()` function you have to call after creating/modifying the job.

[code]

[2017-06-21 06:34] OmgImAlexis commented on #414
@joeframbach can't edit issues either. I'd like to go and sort open issues with tags so we can try and get it the backlog sorted.

[2017-06-21 06:36] OmgImAlexis commented on #441
If someone can give me permission I'd like to go through and tag all issues so they can be handled easier.

Shall we close off any **QUESTION** issues that are over a year old? We can always reopen if the OP still has the issue.

[2017-06-21 07:43] michelem09 commented on #414
Yes the same as @OmgImAlexis I'd like to manage issues to try organise (and possibly close) them.

[2017-06-21 10:12] hughmp commented on #421
Does this work for you?

[code]

[2017-06-21 10:23] simison commented on #441
+1

[2017-06-21 12:27] kokno opened #444 "Define a job but don't start when the server restarts"
Hello,

I would like to define a new job with a given interval but I don't want that the job launch when my server restarts. If I remove the agenda.start(), it doesn't work and if I leave it, the job is scheduled but it is launch when I restart the server.

How can I do it ?

Here's my code :
[code]

[2017-06-21 13:52] joeframbach commented on #414
Ah, I see. Members of the "organization" are able to push code but can't close issues. Members of the "team" are able to close issues. Silly Github. I've added you both to the team.

[2017-06-21 14:19] joeframbach commented on #444
`every` can also take a [cron format string](http://www.thegeekstuff.com/2009/06/15-practical-crontab-examples).

    agenda.every('3 minutes', 'delete old users');

    // Alternatively, you could also do:
    agenda.every('*/3 * * * *', 'delete old users');

This allows you to define the exact time and schedule.

[2017-06-21 14:29] kokno commented on #444
I found the problem. I was cancelling the job before defining the job. But if a job is not defined (or cancelled), the job start at the beginning (so every time in my case)

[2017-06-21 14:29] #444 closed

[2017-06-21 15:09] stolendog opened #447 "main job runs child jobs"
I have the main job which runs constantly every 1 minute. It runs other jobs using agenda.now('other_job'). I don't want to run the main job again while other child jobs aren't finished. I set different priorities for main job(low) and child jobs(high), but still the main job runs every 1 minute despite there are queued/not-finished child jobs.  How can I solve this case?

[2017-06-22 06:27] michelem09 commented on #415
I'm closing this, feel free to reopen if needed.

[2017-06-22 06:27] #415 closed

[2017-06-22 06:32] michelem09 commented on #84
I'm closing this, feel free to reopen if needed.

[2017-06-22 06:32] #84 closed

[2017-06-22 06:35] michelem09 commented on #88
I'm closing this, feel free to reopen if needed.

[2017-06-22 06:35] #88 closed

[2017-06-22 06:36] michelem09 commented on #89
I'm closing this, feel free to reopen if needed.

[2017-06-22 06:36] #89 closed

[2017-06-22 06:37] michelem09 commented on #97
I'm closing this, feel free to reopen if needed.

[2017-06-22 06:37] #97 closed

[2017-06-22 06:39] michelem09 commented on #121
I'm closing this, feel free to reopen if needed.

[2017-06-22 06:39] #121 closed

[2017-06-22 07:26] simison commented on #442
@joeframbach sorry to bother with such a small thing — could you upload this photo:

![image](https://user-images.githubusercontent.com/87168/27421930-221bae08-5735-11e7-96a5-aa6932659d0f.png)

...to here:

https://github.com/organizations/agenda/settings/profile

Thanks! 🌼

[2017-06-22 07:30] simison commented on #434
@medaamarnadh did @manojchandrashekar tip help?

[2017-06-22 07:35] simison commented on #416
Are you ensuring you don't try to initiate Agenda before you've really connected to MongoDB?

See example:
https://mongodb.github.io/node-mongodb-native/2.2/quick-start/quick-start/#connect-to-mongodb

same for Mongoose:
http://mongoosejs.com/docs/index.html

[2017-06-22 07:36] simison commented on #431
@omidmaldar I'm closing this, feel free to re-open if something is not clear.

[2017-06-22 07:36] #431 closed

[2017-06-22 07:38] simison commented on #412
@lushc @patrickd- @dylanjha do you feel like docs need improving regarding this and are questions now answered — can this be closed?

[2017-06-22 07:46] simison commented on #441
@OmgImAlexis @lushc you should have rights to the repo now so feel free to start tackling stuff! :-) Feel free to assign PR's for yourself so it's clear who is working on what.

Me and @michelem09 have been closing/tagging old question issues.

[2017-06-22 07:53] omidmaldar commented on #431
thanks, it's clear

[2017-06-22 09:19] simison commented on #402
@Conroman16 see #414 and follow ups #441 if you'd like to help!

[2017-06-22 11:19] patrickd- commented on #412
It's been a while since I opened the issue so i'm honestly not entirely sure if all the questions I had back then have been answered (was hard to put my confusion into text form). To actually be sure of that i'd have to work on our cron component again.

But lushc's answers look really good; might be a shame to let them go to waste in here.

That aside this probably can be closed, thanks everyone!

[2017-06-22 11:22] simison commented on #412
@patrickd- thanks! this repo hasn't been very much maintained for a while but we're getting back on track again (#441). Cheers!

I'll leave it for @lushc and @joeframbach to consider if docs need upgrade and let them close this.

[2017-06-22 12:57] simison commented on #430
Hm, would something like this work? [`*/1 22-23 * * *`](https://crontab.guru/#*/1_22-23_*_*_*)

[2017-06-22 14:23] medaamarnadh commented on #434
@simson I have solved the issue on the same day when I raised the issue.  I have done in the same way but used ES5 format.

[2017-06-22 14:44] #434 closed

[2017-06-22 14:48] joeframbach commented on #442
I didn't see this thread until now. Holy moley that's a great logo. Thanks for putting so much effort into this!

[2017-06-22 14:48] #442 closed

[2017-06-22 15:05] michelem09 commented on #442
We could put them also in each README. Could you manage this?

[2017-06-22 16:21] simison commented on #442
@michelem09 I can do at some point.

@joeframbach thanks, it was reeeeally quick, literally less than 5mins. ;-)

[2017-06-22 19:36] simison commented on #428
@mariokam did this get solved and can be closed?

[2017-06-22 19:39] simison commented on #213
[Examples](
https://github.com/agenda/agenda#example-usage) now have `agenda.on('ready, ...` in them so I suppose this can be closed.

[2017-06-22 19:39] #213 closed

[2017-06-22 19:41] simison commented on #213
@jdiamond would be really lovely if you could do a PR for adding promises! See #414 #441

[2017-06-22 19:43] simison commented on #442
Oh and @agenda/maintainers remember to change your status to "public" from https://github.com/orgs/agenda/people ;-)

[2017-06-22 19:49] lushc commented on #402
I believe this is due to both `repeatEvery()` and `repeatAt()` being called. Because an interval is set, when the job computes its next run time it'll be using that rather than the repeat at time:

[code]
From the use-case given in #81, it's unnecessary to specify the interval because "every 24 hours" is implied.

[2017-06-22 19:50] mariokam commented on #428
I went for paid version of MongoDB and now it looks more stable, hopefully that was the problem. Sure, close it. Thanks!

[2017-06-22 19:51] #428 closed

[2017-06-22 19:51] simison commented on #428
Just leaving this here in case anyone ends up here via search: https://docs.mongodb.com/manual/administration/monitoring/

[2017-06-22 19:59] simison commented on #441
Anything related to "If server is shutdown, unfinished jobs won't resume" #410 seems like a very high prio to me. Any PR's that affect this?

[2017-06-22 20:01] simison commented on #410
@gowridev please see [documentation](https://github.com/agenda/agenda/blob/master/README.md) and open another issue if you can't get it working. Thanks!

[2017-06-22 21:07] simison commented on #404
This is now mentioned in [docs](https://github.com/agenda/agenda#example-usage) as well, closing.

Also Mongo driver version is now ^2.2: https://github.com/agenda/agenda/commit/72101bc528a27aa5f8c0aa8406f971bc631d8221

[2017-06-22 21:07] #404 closed

[2017-06-22 21:53] simison commented on #441
There's a really good question and possible bug at _Can't cancel a job once it's already locked_ #401

[2017-06-22 21:56] simison commented on #401
Excellent question!

This even seems like a potential bug.

[2017-06-22 22:08] simison commented on #401
Meanwhile as a work-around it's possible to do this:

— [via docs](https://github.com/agenda/agenda#cancelmongodb-native-query-cb)

[2017-06-22 22:15] simison commented on #392
Job `_id` is same as MongoDB `_id` so it will be there only after saving the job.

It gets set here:
https://github.com/agenda/agenda/blob/b818de4d47a3182b95db327edb12f861738957b0/lib/agenda.js#L381

[2017-06-22 22:15] #392 closed

[2017-06-22 22:17] simison commented on #372
Mongo driver is now updated to `^2.2` and finally version [0.9.1](https://github.com/agenda/agenda/blob/master/History.md#091--2017-03-22) should have this via npm as well.

[2017-06-22 22:17] #372 closed

[2017-06-22 22:21] simison commented on #376
Agenda 0.9.1 on npm solves this.

[2017-06-22 22:21] #376 closed

[2017-06-22 22:22] simison commented on #359
Version 0.9.1 on npm now supports SSL for Mongo connections.

[2017-06-22 22:22] #359 closed

[2017-06-22 22:23] #273 closed

[2017-06-22 22:25] simison commented on #208
Latest Agenda v0.9.1 on npm supports SSL connections now. You can also pass `mongoose.connection` object to Agenda.

[2017-06-22 22:25] #208 closed

[2017-06-22 22:29] #374 closed

[2017-06-22 22:38] #382 closed

[2017-06-22 22:40] simison commented on #348
Follow ups ➡️  #18 _Database adapters_

All help appreciated! #414 _Maintainers needed_

[2017-06-22 22:40] #348 closed

[2017-06-22 22:41] simison commented on #291
Follow ups ➡️ #18 Database adapters

All help appreciated! #414 Maintainers needed 🍻

[2017-06-22 22:41] #291 closed

[2017-06-22 22:41] simison commented on #349
Follow ups ➡️ #18 Database adapters

All help appreciated! #414 Maintainers needed 🍻

[2017-06-22 22:41] #349 closed

[2017-06-22 22:41] simison commented on #350
Follow ups ➡️ #18 Database adapters

All help appreciated! #414 Maintainers needed 🍻

[2017-06-22 22:41] #350 closed

[2017-06-22 22:43] simison commented on #79
Seems like this can be closed, see https://github.com/agenda/agenda/pull/267

[2017-06-22 22:43] #79 closed

[2017-06-22 22:46] simison commented on #324
Closing this, follow ups https://github.com/agenda/agenda/issues/324

[2017-06-22 22:46] #324 closed

[2017-06-22 22:46] simison commented on #324
Closing this, follow ups https://github.com/agenda/agenda/issues/338

[2017-06-22 22:55] #201 closed

[2017-06-22 22:57] simison commented on #318
Latest v0.9.1 in NPM should have all the goodies in! :-)

[2017-06-22 22:57] #318 closed

[2017-06-22 22:59] simison commented on #309
Follow ups ➡️ #18 Database adapters

All help appreciated! #414 Maintainers needed 🍻

[2017-06-22 22:59] #309 closed

[2017-06-22 23:00] simison commented on #297
@dylanjha if you'd like to help, there's now this: https://github.com/agenda/agenda/pull/443

[2017-06-22 23:01] simison commented on #322
@xlarsx feel free to open if your question wasn't answered yet. :-)

[2017-06-22 23:01] #322 closed

[2017-06-22 23:02] #314 closed

[2017-06-22 23:02] #346 closed

[2017-06-22 23:03] #343 closed

[2017-06-22 23:04] #328 closed

[2017-06-22 23:04] SymphonyKenanBerbic commented on #410
Sorry man I didn't saw message on the time, "db" is some type of db context, where I put all of my mongoose models. MongoLib is excusal real mongoose driver. What you can do in your example

`
const mongoose = require('mongoose');
mongoose.connect("address of your mongo server");
mongoose.connection.on('open',function () {
    mongoose.connection.db.collection('agendaJobs', function (err, collecti

[2017-06-22 23:04] #263 closed

[2017-06-22 23:05] #251 closed

[2017-06-22 23:06] simison commented on #336
Follow ups: https://github.com/agenda/agenda/issues/410

[2017-06-22 23:06] #336 closed

[2017-06-22 23:07] simison commented on #168
Follow ups: https://github.com/agenda/agenda/issues/410

[2017-06-22 23:07] #168 closed

[2017-06-22 23:07] simison commented on #375
Follow ups: https://github.com/agenda/agenda/issues/410

[2017-06-22 23:07] #375 closed

[2017-06-22 23:08] #312 closed

[2017-06-22 23:09] simison commented on #312
`moment-timezone` has been updated: https://github.com/agenda/agenda/blob/master/package.json#L34

[2017-06-22 23:14] simison commented on #131
I'm trying to triage issues so I'll close this and follow ups here please: https://github.com/agenda/agenda/issues/410

This might still be an issue. If anyone still experiences this (or has solutions!), please just even give +1 at #410 so that we'll know better.

[2017-06-22 23:14] #131 closed

[2017-06-22 23:18] #319 closed

[2017-06-22 23:23] simison commented on #417
+1 for _example script to reproduce this?_

[2017-06-22 23:24] simison commented on #344
Follow ups https://github.com/agenda/agenda/issues/422

[2017-06-22 23:24] #344 closed

[2017-06-23 00:02] lushc commented on #324
I think this related to #410 as well.

[2017-06-23 00:05] #229 closed

[2017-06-23 00:06] simison commented on #232
Change to readme was merged. Thanks everyone!

[2017-06-23 00:06] #232 closed

[2017-06-23 00:29] amsross commented on #417
I'm going to try to either throw one together or, failing that, I'll go back through git to when we were having this issue pretty repeatedly.

[2017-06-23 00:30] simison commented on #417
Excellent! Sorry it took a while to get active around this (see #414 and #441). Any help appreciated!

[2017-06-23 01:02] lushc commented on #410
#336, #375, and maybe others are due to the fact that job definitions are being declared dynamically, https://github.com/agenda/agenda/issues/109#issuecomment-60286993 explains why this doesn't work. Issues like these and https://github.com/agenda/agenda/issues/209 shows that there's a gap in the documentation where it'd benefit from some working examples of having multiple job instances using a s

[2017-06-23 02:46] dylanjha commented on #297
@simison happy to contribute where I can, but I don't have any use for a dynamo db adapter (or any other db adapter for that matter), nor do I have any experience with dynamo db! (#443) Is there another way I can assist with something?

[2017-06-23 03:29] OmgImAlexis commented on #93
Maybe we could have a setting called `backlog` which would try and run backlogged jobs if they were skipped while the server was offline? Personally I think this would be best as an option instead of as a default as changing it to a default will impact all users whereas an option will only effect those that enable it.

[2017-06-23 03:32] OmgImAlexis commented on #102
Closing this as it's now 3 years old, hopefully by now the issue has been fixed upstream and shouldn't be affecting agenda anymore.

[2017-06-23 03:32] #102 closed

[2017-06-23 03:34] OmgImAlexis commented on #103
@agenda/maintainers can someone that uses co please check to see if this is still an issue.

[2017-06-23 03:39] OmgImAlexis commented on #116
@rschmukler can you confirm the bug was fixed in ae34a240a2a7bf01c6bdf5196d8216860a20054d if it was please close.

[2017-06-23 03:47] joeframbach commented on #93
Another possible concern to consider is: Suppose I have a job that sends emails at 9am every day. If the server goes down just after it sent the email, then comes back up, I want to decide whether to retry and resend the email, or give up on the job.

[2017-06-23 04:38] OmgImAlexis commented on #93
What if we added a period the job needs to fall in for the backlog? So backlog if downtime >= 10 mins.

[2017-06-23 05:14] OmgImAlexis commented on #122
@agenda/maintainers

[2017-06-23 05:14] OmgImAlexis commented on #124
@agenda/maintainers

[2017-06-23 05:16] OmgImAlexis commented on #126
Closed in https://github.com/agenda/agenda/blob/b818de4d47a3182b95db327edb12f861738957b0/lib/agenda.js#L4

[2017-06-23 05:16] #126 closed

[2017-06-23 05:18] OmgImAlexis commented on #135
@pursual that's most likely the issue here. @ragulka if you're still having this issue please let us know and we'll reopen this for you.

[2017-06-23 05:18] #135 closed

[2017-06-23 05:19] OmgImAlexis commented on #146
@noamtz quite a bit has changed in the last 2 years, is this still an issue? Is so please let me know and I'll reopen this for you.

[2017-06-23 05:19] #146 closed

[2017-06-23 05:24] OmgImAlexis commented on #390
Since this has had no response I'm closing it. If this is still an issue please let us know and we can reopen it.

[2017-06-23 05:24] #390 closed

[2017-06-23 05:24] OmgImAlexis commented on #389
@agenda/maintainers this is a possible bug.

[2017-06-23 05:26] OmgImAlexis commented on #441
I've added a few new labels for issues and closed off any that looked like questions but had no reply in over 12 months. Anything with a bug tag that has no-one assigned can be looked into.

[2017-06-23 05:28] OmgImAlexis commented on #378
@gsmhcrew can you please confirm that this is still an issue, if not we can close this.

[2017-06-23 05:33] OmgImAlexis commented on #430
I'm not sure that'd work for my case.

Users would like the jobs to run every 5 minutes between 2pm - 5pm. It'd be nice if we had a function for this kind of thing instead of needing to rely on crontab syntax as it makes it easier for people to use it.

[2017-06-23 05:34] OmgImAlexis commented on #153
@karan is correct on this.

[2017-06-23 05:34] #153 closed

[2017-06-23 05:36] OmgImAlexis commented on #315
Inside your worker you should be using [`process.nextTick()`](https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick/).

[2017-06-23 05:36] #315 closed

[2017-06-23 05:36] OmgImAlexis commented on #282
@nvartolomei could you explain a little further.

[2017-06-23 05:45] OmgImAlexis commented on #284
As this issue is over a year old without a code sample I'm going to close this. If this is still an issue please provide us with the code that's failing so we can debug this.

[2017-06-23 05:45] #284 closed

[2017-06-23 05:47] OmgImAlexis commented on #190
Since this has had no reply in over a year I'm closing it. If this is still an issue please let us know so it can be reopened.

[2017-06-23 05:47] #190 closed

[2017-06-23 06:26] OmgImAlexis commented on #441
What's everyone think of creating a `develop` branch and switching the current PRs over to that so we can merge a little easier as we don't have to worry about everything working perfectly before releasing into master?

[2017-06-23 06:27] nvartolomei commented on #282
I don't think this is actual anymore.

[2017-06-23 06:27] #282 closed

[2017-06-23 07:55] moll commented on #103
I presume it is because https://github.com/agenda/agenda/blob/050d7455633ba747da0a70d24a5eb06b8624c797/lib/job.js#L210 hints towards arity checking.

[2017-06-23 10:32] simison commented on #441
@OmgImAlexis Good question. Personally I like more working with master as development branch (just all the tooling is built like that).

That said I'm quite indifferent regarding branching so any people who are going to be more active in codebase in the future should decide. Unfortunately I can't promise to be super active code-wise here in the future but I'll do my best to push this so that it wo

[2017-06-23 11:08] lushc commented on #389
This is expected behaviour if a job hasn't finished and the lock times out then it will be picked up again. The job will fail if you `throw err` or call `done(err)`, so you should be handling any timeouts (e.g. API requests) in your definition. If you know the job will run synchronously then you can omit `done` from the method signature altogether, otherwise, if you're using promises then it's rea

[2017-06-23 11:12] simison commented on #389
@w4-sjcho at Trustroots we have this logic for failing jobs, you might find it useful: https://github.com/Trustroots/trustroots/blob/master/config/lib/worker.js#L94-L129

[2017-06-23 13:26] simison commented on #116
@OmgImAlexis note his https://github.com/agenda/agenda/commit/ae34a240a2a7bf01c6bdf5196d8216860a20054d#commitcomment-8803094:

Seems like it wasn't fixed.

If someone could write a repeatable script or a PR a test case for this, it would be a good starting point!

[2017-06-23 13:33] simison commented on #122
Only place where I see `auto_reconnect` mentioned is here on [readme](https://github.com/agenda/agenda/blob/983d6b529430d05f1f74e421bac797fe56e89ec3/README.md#example-usage).

There might be some issues when loosing Mongo connection, though. See #338

[2017-06-23 13:35] simison commented on #122
https://github.com/agenda/agenda/issues/338#issuecomment-244540300

Seems like it's on by default as per https://github.com/agenda/agenda/issues/338#issuecomment-244540300:

[2017-06-23 17:42] simison commented on #163
Since this issue Mongo driver has been upgraded to `^2.2`, would be interesting to hear if that solved this.

Anyways since there is no activity here since 2015, I'll close. Feel free to comment if it's still relevant and we'll open this again.

[2017-06-23 17:42] #163 closed

[2017-06-25 06:28] michelem09 commented on #430
We could do a wrapper for this that uses the cron feature.

So something like this:

`job.scheduleBetween('2-5', '5 minutes', 'everyday');`

And `scheduleBetween` calls `job.schedule('*/5 2-5 * * *')`;

[2017-06-25 18:54] manojchandrashekar commented on #447
Can you not check the DB if there are any child jobs running before invoking them?

[code]

[2017-06-25 23:26] joeframbach commented on #430
The most flexible option is to put the logic in the job itself. The job can run every 5 minutes and check if the current time is within the bounds it wants to run. If you don't want that hard-coded, then you can pass your own options through the job's data object.

[2017-06-25 23:58] OmgImAlexis commented on #430
@joeframbach I'm trying to run a job per tumblr account linked to my site, with only 100 users signed up to our beta we'll be close to 2,000 running jobs as the average user has 10 - 20 blogs added . I'd rather if only run jobs when they're between the hours each blog needs and let agenda handle scheduling them instead of spawning them just to check if the time is correct.

If I'm wrong about the

[2017-06-26 13:31] stolendog commented on #447
I was thinking the same. What is the right way to check is job still running or not? any ideas?
I was thinking about to check if property lastFinishedAt exist in job attrs object?

[2017-06-26 13:37] michelem09 commented on #447
Agendash checks when lastRunAt is greater than lastFinishedAt so you could use something like this:

[code]
Of course you can add your own filters like per job definition name.

[2017-06-26 20:08] bradwbradw commented on #410
I'm not creating jobs dynamically, and I've implemented calling stop() on sigterm.  When i have jobs *queued* and i hit ctrl-c, then restart, i can see they start running, then eventually complete, as expected.  however, if a job is *running* when i hit ctrl-c and reboot, it appears to be stuck in this state and never finishes.  I'm looking at the state (running, queued, completed, etc) by using A

[2017-06-26 20:30] lushc commented on #410
@bradwbradw when a job is picked up and ran the `lockedAt` attribute is set to the current timestamp, but a job won't be unlocked if it's interrupted while running (by setting `lockedAt` to null), so Agenda's auto-unlock mechanism will kick in by picking up jobs with a `lockedAt` time older than 10 minutes (a default value [which can be changed](https://github.com/agenda/agenda#defaultlocklifetime

[2017-06-26 23:57] bradwbradw commented on #410
sure @lushc
[code]

that's very strange, because this job isn't being picked up... i haven't changed the name of the job either

[2017-06-27 00:00] robblovell commented on #292
The problem with the solution that @boazjohn puts forward is that on restart more than one job ends up being scheduled. Over time, each time the code is restarted another instance of the scheduled item gets put in place.

One thing that might address this is to add a job method "record" that would enter a line in the database corresponding to either the failed or successful job.
[code]
If failReas

[2017-06-27 09:25] stolendog commented on #447
@michelem09 thanks!

[2017-06-27 09:25] #447 closed

[2017-07-03 08:29] nikparo commented on #429
`agenda.schedule` also neither produces an error nor schedules the job at the right time if given a unix timestamp (number).
e.g.
`agenda.every(1499156031000, 'send email report', {to: 'admin@example.com'});`
Schedules the job at ~`2017-07-04 15:38:00.241`, for me, rather than exactly at `2017-07-04 11:13:51.000` (GMT+3). Off by some 4 hours 25minutes... that also seems to vary.

[2017-07-03 08:50] hughmp commented on #178
I'm getting the same problem. Is this intentional behavior?

What's the best way to lock a job when running it manually outside its usual schedule?

[2017-07-03 13:42] lushc commented on #178
Yes, this is intentional because the mechanism for locking & queuing jobs is separate. If you've created a job that repeats at a regular interval, e.g. `agenda.every('4 hours', 'email stuff')`,  but want to run it now you can just do:

[code]

and the job will be locked & executed immediately. Something to bear in mind is that the next run at time is calculated from the last run at time, so in my

[2017-07-03 14:12] nikparo opened #452 "a low lockLifeTime can cause jobs to remain locked."
I've found that a low `lockLifeTime` (~1s in my case) can interrupt a reoccuring job until it's again read from the database, at the start of the next `processEvery` cycle.

Example code:
[code]

[2017-07-03 16:34] emhagman commented on #413
@michelem09 Does this callback tell you whether there was a unique constraint issue? I believe that is what @code2be is referring to.

[2017-07-04 03:09] #226 closed

[2017-07-04 03:09] OmgImAlexis commented on #155
@agenda/maintainers

[2017-07-04 03:10] OmgImAlexis commented on #196
Closing for now as this is over a year old. If you still need help with this please comment and someone can reopen it for you.

[2017-07-04 03:10] #196 closed

[2017-07-04 03:12] OmgImAlexis commented on #99
@agenda/maintainers I think we need to add better validation for time/date formats so invalid formats are detected before adding to the db.

[2017-07-04 03:13] #150 closed

[2017-07-04 03:16] OmgImAlexis commented on #198
Closing for now as this is over a year old. If you still need help with this please comment and someone can reopen it for you.

[2017-07-04 03:16] #198 closed

[2017-07-04 03:17] OmgImAlexis commented on #441
We're down to [38 unlabeled issues](https://github.com/agenda/agenda/issues?page=1&q=is%3Aopen+is%3Aissue+no%3Alabel).

[2017-07-04 03:27] OmgImAlexis commented on #441
I've added some milestones so all high priority PRs should be merged before 0.10.0 with all low priority expected be merged by 0.11.0 and the DB adapters waiting until 0.12.0

If you feel like they could be merged before or they are merged before please try and remember to change the milestone so the change log can be written from it.

#317 and #451 are still missing milestones. @lushc if you're f

[2017-07-04 08:57] simison commented on #378
#448 is available at master now, but not published to npm just yet.

Testing by @gsmhcrew and @etsalah would be so awesome!

[2017-07-04 09:11] michelem09 commented on #413
Yes it should. Because it calls a `findOneAndUpdate` and return the errors/results.

https://github.com/agenda/agenda/blob/b818de4d47a3182b95db327edb12f861738957b0/lib/agenda.js#L362

[2017-07-04 12:15] lushc commented on #452
I'm fairly sure this is due to #260 which made it so jobs are skipped if they expire between being enqueued and starting:

[code]

So you execute "some job":
* Job runs at `2017-07-03 15:45:00.029Z`, next due to run one second later.
* Job finishes & saves, where `processDbResult()` passes the job to `processJobs()` because its next run at time is before the next scan (i.e. the `processEvery` cycl

[2017-07-04 12:31] lushc commented on #441
@OmgImAlexis thanks, I'll take a look and see if I can add any more labels.

I'm not sure #317 can be assigned a milestone, I'll write a comment about this in the PR.

[2017-07-04 13:00] nikparo commented on #452
I had an issue that I tried to debug, where some jobs didn't seem to run even though they should (Turns out I had moved a filed and they were no longer defined). In production I personally have no need for jobs to run that often.

[2017-07-04 13:12] nikparo opened #453 "Undefined jobs trigger no events or errors and fail silently."
It took some time for me to debug an issue I had, where some jobs seemed to never run anymore. It turns out that they were no longer defined properly (my fault).

However, I feel that it may be better to log an error or trigger the `fail` event, or perhaps create a new event (`undefined`?) if `fail` is tied too closely to jobs that have started.

Just my 2c.

[2017-07-04 14:37] OmgImAlexis opened #455 "Better code linting"
I noticed that eslint isn't a dev dep and that eslint isn't actually setup to lint any files even though we have a `.eslintrc`. Personally I'd go for switching to [xo](https://github.com/sindresorhus/xo) which is built on top of eslint and works out of the box without needing any config.

Either way we should turn on linting for the travis build.

PING @agenda/maintainers

[2017-07-04 15:01] OmgImAlexis commented on #358
@mgregier Is this still an issue?

[2017-07-04 15:03] #352 closed

[2017-07-04 15:05] OmgImAlexis commented on #453
Since you can have a separate node process that schedules vs runs jobs how would that work since the worker may not be up when the scheduling process is running?

[2017-07-04 15:07] OmgImAlexis commented on #425
@helxsz do you still have this issue?

[2017-07-04 15:08] mgregier commented on #358
@OmgImAlexis I'm not sure because I'm not using Agenda anymore in my project. This was a bug that moment.js treated months as 0-based while in CRON expressions January has number 1 in months sequence.

[2017-07-04 15:08] #387 closed

[2017-07-04 15:10] #371 closed

[2017-07-04 15:11] OmgImAlexis commented on #367
PING: @agenda/maintainers

[2017-07-04 15:13] OmgImAlexis commented on #276
Closing this as it's over a year old. @bonesoul if you can provide a failing test case we can reopen this.

[2017-07-04 15:13] #276 closed

[2017-07-04 16:10] xurt75 opened #457 "repeatEvery job using cron time will run job immediately"
I have tried a cron type job using the job.repeatEvery(). Whatever I set the cron-time, the job will start immediately once, and then nextRunAt the correct cron schedule time. It is confuse to me.

I have added line 128 this.computNextRunAt() in repeatEvery() function in lib/job.js as follows. Then it works ok! I am not sure about this. Could you give some comments on this issue?
[code]

[2017-07-04 16:14] simison commented on #457
Similar / duplicate: #422 _Scheduling job with agenda.every method with human interval runs the job immediately_

[2017-07-04 16:28] slinkydeveloper commented on #367
Hi! Finally I found how to solve this kind of problem and i've implemented it inside my project, if you want we can discuss on how to implement it directly inside agenda.

[2017-07-04 23:48] bradwbradw commented on #410
@lushc perhaps it's possible that the job actually completed, but the dashboard didn't update (indicated it's a bug in agendash, not agenda) ?

[2017-07-05 10:59] lushc commented on #410
@bradwbradw sorry, didn't see you replied with your job object. When the job is completed it has a `lastFinishedAt` field set, which yours hasn't got, so didn't complete. If you check out https://github.com/agenda/agenda/issues/410#issuecomment-310526028 or [this commit](https://github.com/Trustroots/trustroots/commit/7664a1e290d434e47afaaefe67aa54439be983f2#diff-187abd8a8a3c73d08594a382f55da9ffR1

[2017-07-05 13:06] hughmp commented on #178
Thanks @lushc !

I'm using the equivalent of this to begin with:
[code]

Then at any point during run time someone can call an api which runs:
[code]
to run the job immediately.

I want to keep the original cron schedule of `0 6 * * *` active. Should I be calling `job.repeatEvery()` and `job.save()` again to prevent any undesired offset?

[2017-07-06 00:21] yanisIk commented on #416
Did someone find a solution for that ?

I tried the following and it didn't work:

- Letting agenda handle the connection.
- Using the same mongoose connection as the one in my app and only initiating agenda once the connection is open.

[2017-07-06 11:51] BhaskarNewase opened #460 "after 10 min duplicate mail sent continuously"
I received duplicate mail :

[code]

[2017-07-06 12:46] michelem09 commented on #460
`define` method needs `done` callback to be called when your job ends.
Something like this but it should be better if `demo` has a callback too.

[code]

[2017-07-06 15:17] lushc opened #461 "Jobs aren't removed from the queue when cancelled"
## Problem
By default, Agenda will query the database every 5 seconds to check for jobs to process. It will fill the queue with jobs that are due to run before the next scan at time ("now" + 5 seconds). However,
 [cancel](https://github.com/agenda/agenda#cancelmongodb-native-query-cb) only removes jobs matching the query from the database and doesn't account for jobs that have already been queued.

[2017-07-06 16:06] franciscofsales commented on #410
@lushc what if we use mongo's system.js collection to store the definitions? I am considering doing so, because I have critical jobs that can't fail and they're being ran in kubernetes, so restarts can happen...

[2017-07-06 16:56] BhaskarNewase commented on #460
Perfect solutions !

 thank you very much michelem for your prompt reply.

[2017-07-06 17:07] michelem09 commented on #460
Feel free to reopen if you need.

[2017-07-06 17:07] #460 closed

[2017-07-06 19:59] nemozny commented on #457
Yes, this one is a real pain!

I found a workaround though (and sorry, I can't get new lines in code working):
TESTjob.repeatEvery("1 2 * * *", {timezone: 'America/Chicago'});
TESTjob.fail("Workaround to have a timestamp");
TESTjob.save();

**and then**

agenda.define('TESTjob', function(job, done) {
   if (new Date() - job.attrs.failedAt < 60000) {
   console.log("Only less than 1 minute (" +Math

[2017-07-06 20:03] simison commented on #457
@nemozny would this work:
[code]
via https://github.com/Codevate/agenda/commit/7f0667d2a2120c8a4566e2d086d325e446e86ce8#commitcomment-22911598 by @lushc

[2017-07-07 10:42] nemozny commented on #457
@simison No, this gets also executed immediately. Although I used this code, but I see no difference here, except maybe "in interval", which I cannot use:

const interval = '1 2 * * *';
const job = agenda
  .create('myJob')
  .schedule(interval)
  .repeatEvery(interval)
.save();

[2017-07-10 11:47] OmgImAlexis commented on #124
Since this issue is over 2 years old and there's been no replies I'm closing this. If it's still an issue please let us know and someone will re-open it.

[2017-07-10 11:47] #124 closed

[2017-07-10 18:55] niftylettuce opened #462 "Jobs not running in order of them being queued"
It seems like the latest (most recent) is the one that runs first, as opposed to being the first one queued for the same job name.

[2017-07-12 14:07] federicobadini opened #463 "lockLifetime handling"
I'm quite new to Agenda js, but I've dived into the code to try to understand how job lifecycle is handled.

In particular it is not very clear to me what does happen to a long running job when the lockLifetime is hit. I've seen from code that when lockLifetime is hit the job is freed from locks, so that it can be reinserted into the processing queue.

[code]

However, from what I see there is no

[2017-07-12 14:19] simison commented on #462
@niftylettuce @lushc do you recon https://github.com/agenda/agenda/pull/451 would fix this?

[2017-07-12 16:29] lushc commented on #462
Hmm, I don't think #451 will fix this one unfortunately, seems to be related to the in-memory queue, looks like it is indeed treated as LIFO when processing jobs to run:

[code]

This was implemented in commits ["Processing the next job that is not blocked by concurrency"](https://github.com/agenda/agenda/commit/2e45e8342e293c1cac9f550937af7817b74b8403) and ["Requeuing concurrency blocked jobs wrt

[2017-07-12 17:02] lushc commented on #463
Periodically calling `touch()` would indeed be the best way I think. Running a job is very fire-and-forget process so that it can be non-blocking, becoming reliant on the job definition to callback so it can set `lastFinishedAt` and unlock itself (see [Job.prototype.run](https://github.com/agenda/agenda/blob/da73bcc2cf7be7b9891d070728eda4b8ba31974a/lib/job.js#L173)). So unfortunately it's difficul

[2017-07-12 21:36] SamClayton commented on #416
In my case, it turned out that the variable being passed as 'db' was being mediated by another module and was not always resolving to a mongoClient instance. I cannot, however, speak to the OP's issue.

[2017-07-14 00:50] nhim175 commented on #410
Don't know if similar issue but I have 1 recurring job running every hour but everyday it stops at midnight, and stops forever until I restart the worker.

[2017-07-14 09:31] niftylettuce commented on #462
It unfortunately does not @simison (thanks though - at least for my use case it doesn't.

I would think a standard behavior should be run in the order queued - I think this is a core bug IMO!

Hope we can get this fixed and that others agree 👍

Appreciate all your help here,

[2017-07-14 09:34] simison commented on #462
@niftylettuce does that code bit @lushc provided help?

To me it seems like adding that to docs and mentioning we can't ensure running order would be good improvement at this point.

[2017-07-14 18:54] gashokvr commented on #462
Suprised to know about the LIFO behavior. This essentially means that Agenda can't be used as a task **queue** ? Very fundamental Bug IMO.

[2017-07-14 19:43] lushc commented on #462
@niftylettuce if we could get some more details surrounding your use-case it'd help clarify the issue. As far as I'm aware it's the first time something like this has come up, so anything to document why this isn't desirable behaviour will be useful.

@gashokvr I believe Agenda was primarily developed to be a job scheduler, guaranteeing the execution of a task at a repeated interval, so the focus

[2017-07-14 19:49] niftylettuce commented on #462
@simison I've submitted a pull request #464 to `lib/agenda.js`.  Basically I modify the `findOneAndUpdate` function options - we can use `_id` as a sorting value; it's a timestamp - via [ObjectID.getTimestamp](https://docs.mongodb.com/manual/reference/method/ObjectId.getTimestamp/).  Since MongoDB sorts in order from left to right based off query, it will sort by timestamp first (ascending - so ol

[2017-07-14 19:55] niftylettuce commented on #462
@lushc My use case is simply the example I highlighted in my updates to the Readme in my prior comment.  Another use case is when `{ concurrency: 1 }` is set to 1, so only one job at a time can be run.  There could be 10 jobs, all with the same priority, and I want the first to go out at once.  A simple example of this is that if you queue emails, and have an email that says a "Job Started" and an

[2017-07-15 09:39] OmgImAlexis commented on #462
@niftylettuce would you mind adding a way to change that sort? For example my application could change the sort to use the `plan` of my users to have the top tier plans get first priority without needing to mess with the job's priority.

[2017-07-16 05:03] niftylettuce commented on #462
added @OmgImAlexis - you can specify `config.sort` now - the default is `{ _id: 1, priority: -1 }`.

[2017-07-16 12:50] OmgImAlexis commented on #441
So I've started on linting the whole project in https://github.com/agenda/agenda/pull/465 and I have [an issue](https://github.com/agenda/agenda/issues/455) open about possibly moving from eslint to xo, thoughts?

[2017-07-17 02:15] Mihailoff opened #466 "Job results"
Hello, is there any way to persist some diagnostic data during job execution and then able to retrieve it once job finishes?

Attempts below
[code]
don't work.

[2017-07-17 06:07] michelem09 commented on #466
[code]

This must work.

[2017-07-17 06:07] #466 closed

[2017-07-18 04:51] niftylettuce commented on #462
Can we please get this merged quickly?  Thank you all so much.

[2017-07-18 14:36] emhagman commented on #441
@joeframbach I would also love access to begin working on this. We use this at our company and would love to be able to contribute.

[2017-07-18 18:25] MrTechCenter commented on #84
I've followed @bestan 's suggestion above and formatted my sendNotifications.js job file as follows:

`let send = require('../models/notify');
let pullCompare = require('./pullCompare');

module.exports = function (agenda) {

    //Define name of job, functions of job, handle errors:
    agenda.define('sendNotifications', function (job, done) {
        console.log(pullCompare.changedCodecs);

[2017-07-18 20:16] MrTechCenter commented on #84
I figured it out, had to add a dummy attribute "jobNo" and assign it an arbitrary value (I assigned it 1) and then add "testJob.unique({jobNo: 1})" after "testJob.repeatEvery('5 seconds')" and it only creates one job so it only executes the console.log in "notifyUsers" once on the first run and each interval after that now.

[2017-07-19 02:12] niftylettuce commented on #462
@OmgImAlexis need me to take those eslint commits out or something? just lmk! thank you all! cc @simison

[2017-07-19 03:07] OmgImAlexis commented on #462
Yes can you please take out the eslint stuff and rebase.

[2017-07-19 06:19] niftylettuce commented on #462
@OmgImAlexis Welp that was annoying... didn't realize you had merged/pushed to master... I'm way too tired but wanted to get this in for you.  Need sleep.  Plz merge, thanks

[2017-07-19 06:19] niftylettuce commented on #462
Rebased and should be good to merge now cleanly

[2017-07-19 13:34] OmgImAlexis opened #470 "Add promise support and deprecate callbacks"
For starters this would help with the tests being nested 4+ levels deep.

For example.

[code]

Ref for my own use later on: https://futurestud.io/tutorials/callback-and-promise-support-in-your-node-js-modules

[2017-07-19 13:35] OmgImAlexis commented on #441
Adding onto @lushc's list I think we should work on adding promise support soon(next 1 - 3 months) and start deprecating the use of callbacks. Ref: https://github.com/agenda/agenda/issues/470

[2017-07-19 16:07] herkyl commented on #155
Here is a primitive example of how to update a job:
[code]

[2017-07-19 18:27] dilame opened #473 "TypeError: Cannot read property 'updateMany' of undefined"
[code]
I use the same connection string, stored in `process.env.MONGODB_URI` for agenda and one other connecting. And the problem appears only with agenda.

[2017-07-19 22:47] simison commented on #441
@OmgImAlexis @lushc I moved #476 and #475 to milestone `1.0.0` which makes 0.10.1 almost ready now. You might want to move 0.11.0 after 1.0 or otherwise think about priorities again. :-)

[2017-07-20 04:04] emhagman commented on #351
See #475 , should be fixed

[2017-07-20 06:02] mystery-man opened #477 "Getting RangeError: Maximum call stack size exceeded"
Once in a week iam getting this error and because of that my server gets crashed. Iam scheduling over 2m jobs daily.

RangeError: Maximum call stack size exceeded
    at jobProcessing (D:\home\site\wwwroot\node_modules\agenda\lib\agenda.js:641:31)
    at runOrRetry (D:\home\site\wwwroot\node_modules\agenda\lib\agenda.js:658:13)
    at jobProcessing (D:\home\site\wwwroot\node_modules\agenda\lib\age

[2017-07-20 06:29] michelem09 commented on #477
What are you passing as data for jobs? For example you can't pass a MongoDB document you need to convert it to a simple object (`toObject()`).
Did you look at this? https://github.com/agenda/agenda/issues/182

[2017-07-20 06:55] mystery-man commented on #477
Yes, I've checked out that issue and I am passing a simple object.
Something like this => {id : scheduledData._id.toString()}

[2017-07-20 11:03] vlavrynovych commented on #421
@hughmp I also surprised as @Hanzofm but it does not work
I've tried both ids

[code]

The question is still open as for me.
I do not want to add additional complexity to my code by adding synthetic ids to the `data` section

[2017-07-20 11:22] hughmp commented on #421
hmm, strange. But you can retrieve jobs by id with `agenda.jobs(q, (err, jobs) => {})` ?

[2017-07-20 11:46] lushc commented on #421
`cancel()` just wraps the node driver's [deleteMany](http://mongodb.github.io/node-mongodb-native/2.2/api/Collection.html#deleteMany) method. As you can [see here](https://github.com/agenda/agenda/blob/d8e1da3207f85cfff38ec5ad6bfdb2f2013adc27/lib/agenda.js#L441-L447) there's really not much to it, so @hughmp's example should definitely work, I've just tested it myself:

[code]
My suggestion would

[2017-07-20 14:30] vlavrynovych commented on #421
Hi all,

I resolved my problem by using this:
[code]

Not sure that it is a right way, but it works for me.
Solution was found here: https://stackoverflow.com/questions/38603529/argument-must-be-a-string-in-nodejs

@lushc The original problem as I see was in the mongodb versions. I use mongoose which uses its own mongodb module. And agenda uses its own mongodb modules.

[2017-07-20 14:44] emhagman commented on #477
Wouldn't this be inevitable? You said you have 2,000,000 jobs a day? If the number of jobs exceeds the NodeJS stack size and we don't use any `setTimeout` or `setImmediate`, etc, this certainly can occur since processJobs() essentially calls it self all the time.

`node --v8-options | grep -B0 -A1 stack_size`

The default is `984kB` for the V8 engine in NodeJS. Can you try running it with:
`node -

[2017-07-20 15:00] mystery-man commented on #477
That is correct @emhagman. I thought about adding the setTimeout in calling processJobs as that would close the stack. But as you mentioned iam not sure how that would affect other stuffs i.e locking, priority etc.

As for the stack size I've heard that it's not the right approach as we can increase the size but it also depends on the OS with respect to the memory.

[2017-07-20 15:28] emhagman commented on #477
@mystery-man It is certainly isn't the right approach, I wanted to see if that fixes the problem to assure myself that was the problem. I will try and see what happens locally with that code change and run some tests.

[2017-07-20 15:31] mystery-man commented on #477
That would be really helpful @emhagman . Thanks for that :)

[2017-07-20 15:58] lushc commented on #421
@vlavrynovych oh nice catch, that's a tricky one, glad to hear you fixed it!

[2017-07-20 16:03] emhagman commented on #477
@mystery-man Do you have a test environment where you would be willing to give this a go? All tests are passing with the change.

You can simply put: `"agenda": "draftedus/docket#process-job-set-immediate"` in your `package.json`. I don't have 2M jobs in an environment to test over a long period of time.

I am fairly confident this should not affect anything considering the tests pass and the natu

[2017-07-20 17:11] mystery-man commented on #477
I dont have a test environment currently...
Let me try and replicate that and will get back to you.

Are you going to do this now ?
`Essentially, I keep track of the number of times jobProcessing() is called and break it out into setImmediate() after every 100 calls within itself.`

[2017-07-20 17:22] emhagman commented on #477
Sorry I wasn't clear enough! It's already done:
https://github.com/draftedus/docket/tree/process-job-set-immediate

That's what I was referring to about changing your `package.json`

[2017-07-20 17:49] mystery-man commented on #477
Oh i  get it.
I will test it out and will get back to you.
Thanks for all this 👍

[2017-07-20 18:51] emhagman commented on #477
Of course, let me know how it goes!

[2017-07-21 00:47] OmgImAlexis commented on #441
Sorry for being MiA for a day or so I'll be back tonight(5 - 10 hours). Had to deal with [bogus DMCA requests](https://github.com/github/dmca/blob/master/2017/2017-07-17-SiCKRAGE.md) on another project I work on. 😞

[2017-07-21 02:25] niftylettuce commented on #462
@OmgImAlexis I'm adding tests now, can you or @simison please accept this PR once tests are added and merge + release new version?  Thank you - I should have it done shortly.

[2017-07-21 03:47] niftylettuce commented on #462
@OmgImAlexis so I've added tests (and glad I did) - interestingly... the sort query `{ _id: 1, priority: -1 }` is not working properly, however `{ priority: -1 }` does work and keep them in order.  I'm wondering if this is a bug with MongoDB.  Trying to figure this out now.

[2017-07-21 05:43] niftylettuce commented on #461
This is also similar to #401

[2017-07-21 06:28] niftylettuce commented on #440
This is definitely a bug cc @simison - you can't specify `priority` in `data`.

Perhaps we should add support here <https://github.com/agenda/agenda/blob/162e6625dc4b446c4eda617a2eae42a0fa3ffdf9/lib/agenda.js#L222> for detecting `_priority` or `priority` in the `data` object.

[2017-07-21 06:33] niftylettuce commented on #401
This is definitely a bug - in the logic for `Agenda.prototype.cancel` it only runs a database query to `deleteMany` - it does not remove them from in memory e.g. we need to take into account these functions using existing memory - so we'd have to revert these:

[code]

[2017-07-21 06:35] niftylettuce commented on #401
So basically we'd just have to remove it from the variable `jobQueue` @simison ?

[2017-07-21 07:14] simison commented on #461
@lushc wanna move this over to #401 so that we wouldn't have duplicate issues?

[2017-07-21 07:29] niftylettuce commented on #440
Added support in #464 for this.

[2017-07-21 07:32] niftylettuce commented on #462
OK tests are added and pass, should be good to go.  Please review and accept the PR in #464, and release new version to NPM and as a tag on GitHub - then you can close the following issues: #464 and #440

[2017-07-21 07:37] simison commented on #462
Great, thanks for adding tests!

@niftylettuce @OmgImAlexis am I correct that this change is calling for a major semver bump? (1.x.x)

[2017-07-21 07:44] niftylettuce commented on #414
@joeframbach @rschmukler I'd like to work more on Agenda and would love an invite to @Agenda/maintainers. I've done quite a bit of work and have solid fundamental understanding of the codebase per my work in #464. I also was going to do a complete write from scratch of my own job scheduler, but after a battle of patience I decided it'd be best if I focused on contributing instead; helping us get w

[2017-07-21 07:46] niftylettuce commented on #441
The only core bug I currently see is <https://github.com/agenda/agenda/issues/401>.

[2017-07-21 07:47] niftylettuce commented on #462
I'd suggest to do a major version bump because people might unknowingly be relying on the old sort method @simison as an unintended feature haha.

[2017-07-21 08:51] simison commented on #414
@niftylettuce great! I've been inspired by your work on open source for a while already. Great to see you jumping in here, too! ❤️

Now that we're quite a few working together, I thought of writing a quick "how we work" checklist and code of conduct, please all @agenda/maintainers [have a look](https://github.com/agenda/agenda/wiki) and feel free to comment/modify! And always show this to new main

[2017-07-21 09:17] simison commented on #401
@niftylettuce not sure, I assume those in-memory steps are there to ensure queue keeps working when multiple Agenda workers are working on same queue/db.

[2017-07-21 16:45] adityak368 commented on #196
It would be great if there was a functionality to stop running jobs and not remove it from database

[2017-07-21 20:22] nwkeeley commented on #414
@niftylettuce - I also have followed your work. I would be really excited to have you become a maintainer of this project I think you could bring a lot of value.

[2017-07-21 20:28] joeframbach commented on #414
I have sent an invite to @niftylettuce as a maintainer.

[2017-07-21 20:31] lushc commented on #461
@niftylettuce @simison thanks, I missed that issue, let's move over to that one.

[2017-07-21 20:31] #461 closed

[2017-07-21 20:39] lushc commented on #401
Copying over my previous comment...

We could check if the job is still in the database in `runOrRetry()` at the same point it [checks if the lock has expired](https://github.com/agenda/agenda/blob/da73bcc2cf7be7b9891d070728eda4b8ba31974a/lib/agenda.js#L652). Since the job keeps a reference to its ObjectId it would be a fast lookup:

[code]

Or, we could refactor the cancel method to first find jo

[2017-07-21 21:14] lushc commented on #414
@simison thanks for putting that together, it looks perfect to me.

@niftylettuce welcome!

[2017-07-22 19:29] joeframbach commented on #412
Sorry, I have not had time to look into these questions. Perhaps other @agenda/maintainers could look at the documentation.

[2017-07-23 18:53] menzow commented on #432
Hey @renehauck,

Why do you define `OfferManager` outside of the scope of `TaskRunner`? And why do you define TaskRunner as an iife?

There's no way to know that `OfferManager` has not been reset to `undefined` when your task runs. I'd recommend using `_this.offermanager.remove` instead of `OfferManager.remove`. That way you're not depending on the global scope.

PS: I know this is an old question

[2017-07-23 19:04] menzow opened #482 "Refer questions to stackoverflow?"
Hey,

First of all it's great to how many people started helping out since Maintainers Needed(https://github.com/agenda/agenda/issues/414) got opened.

Would it be an idea to start closing issues labeled question? Some questions are quite old and not relevant anymore, not related to agenda or better suited for Stackoverflow.

To keep the open issues clean it might be useful to make an assessment o

[2017-07-23 23:41] OmgImAlexis commented on #482
Already way ahead of you and I'd much rather keep all questions here while we have people that know the code instead of just fobbing people off to stackoverflow.

I've already gone through and closed around 100 issues so this isn't really an issue anymore. Thanks though.

[2017-07-23 23:41] #482 closed

[2017-07-24 06:57] renehauck commented on #432
ok, thx

[2017-07-24 06:57] #432 closed

[2017-07-24 07:52] simison commented on #482
Yep, and right now docs still need improving so it's nice to be able to have a close look to questions and see what exactly needs improving.

[2017-07-24 07:55] simison commented on #441
FYI, I renamed 0.11.0 to 1.1.0 and 0.12.0 to 1.2.0.

Now we have:
- 0.10.0 (almost ready)
- 1.0.0 (aka big breaking)
- 1.1.0
- 1.2.0

Remember never to be afraid to pump up the first digit if there's anything even remotely breaking going in. http://semver.org/

[2017-07-24 08:00] simison commented on #441
I also added a few new "need" labels that I've found quite useful in other projects with many issues/PRs coming in:

![image](https://user-images.githubusercontent.com/87168/28513571-54a6c720-705f-11e7-8036-b59576fa4d10.png)

[2017-07-24 17:12] sampathBlam opened #483 "Jobs getting locked and stuck after 4 or 5 successive runs."
We have used agenda in our node.js server for certain background polling operations. We have defined three jobs in agenda.

`agenda.define('pollDatasetStatus', function (job, done) {
    // Job to poll the status of some dataset in a thirdparty server.
})`

`agenda.define('pollExecutionStatus', function (job, done) {
    // Job to poll the status of the execution of a dataset in the thirdparty ser

[2017-07-25 09:12] sampathBlam opened #484 "[question] Locking jobs in agenda"
I am very new to agenda and I have trouble understanding the locking mechanism of jobs in agenda. I searched for documentation regarding the same, but could not find much of use.

- When does a job in agenda get locked ?

- Sometimes, a job in the agenda database get a non-null value for 'lockedAt' field. Does that mean that the job is locked ?

- When will that job get unlocked ?

- When the node

[2017-07-25 16:24] theonetheycallneo opened #485 "Query Targeting: Scanned Objects / Returned has gone above 1000"
Steps to reproduce:

1. Create 190+ jobs in agenda
2. All jobs.findAndModify to run
3. Analyze slow recent query with:
[code]
4. Note: command jobs.findAndModify is scanning unindexed jobs

[2017-07-25 16:25] theonetheycallneo commented on #485
I just saw this PR: https://github.com/agenda/agenda/pull/476
Perhaps this corrects the issue.

[2017-07-25 17:24] gitadept opened #486 "Job events on different machines"
Hi! Couldn't find similar issue. Sorry if it is already asked.
I would like to see following scenario:

Machine1 creates jobs
Machine2 processes jobs
Machine1 listens for queue events like 'complete', 'success' or 'fail'.

Is this possible?
Thanks

[2017-07-25 19:33] simison commented on #484
BTW This would be awesome base for a FAQ in wiki or improving the docs in README.md!

[2017-07-26 04:52] OmgImAlexis commented on #441
Since I've merged the debug PR we now have 0.10.0 finished off. If there are no other changes that need to be made before a release then we should be good to go.

@simison can we get a release sorted? Still not sure who has npm permissions.

Also are we tagging our releases using git?

[2017-07-26 05:05] OmgImAlexis commented on #441
If everyone is okay with this I'd like to get the xo PR added next before any of the breaking 1.0.0 changes go in so we know all future PRs will be 100% linted since the longer we leave it the more code we've got to switch over.

[2017-07-26 06:02] sampathBlam commented on #483
We have found that the above issue is due to the following sequence of actions.

- Agenda seems to maintain **counters** for running and locked jobs in memory for each job definition.

- As and when a job is locked, it increments the **locked** counter and when a job is run, it increments the **running** counter for the particular job definition.

- And when a job is done ( **done()** is called on

[2017-07-26 06:02] #483 closed

[2017-07-26 07:45] simison commented on #483
Glad you figured it out and thanks for elaborating so well your problem solving!

If you think that docs would need improvements regarding this, feel free to PR!

[2017-07-27 10:48] simison opened #490 "ensureIndex is deprecated, use createIndex"
As per discussion https://github.com/agenda/agenda/pull/476#pullrequestreview-51278158

@joeframbach says:

@loris also suggested:

https://docs.mongodb.com/manual/reference/method/db.collection.ensureIndex/
https://docs.mongodb.com/manual/reference/method/db.collection.createIndex/#db.collection.createIndex

Breaks compatibility with MongoDB 2.x I assume, so this can also wait for 2.x — thoughts?

[2017-07-27 10:51] simison commented on #490
I've meant for a long time to study if doing `createIndex()` in code on initialisation is okay for production or should it always be done separately...

[2017-07-28 06:13] OmgImAlexis commented on #473
Could you please provide us with a reproducible code sample?

[2017-07-28 06:15] OmgImAlexis commented on #196
@adityak368 if you'd like that as a feature please open a new issue and/or a PR with the changes.

[2017-07-28 06:24] OmgImAlexis commented on #441
@agenda/maintainers could some of the people added please check PRs. Seems over the last week I've only seen @simison @lushc @emhagman and @niftylettuce commenting and approving PRs and I'd like to get more PRs merged and the code cleaned up to a better state but I can't do anything while I'm sitting here waiting for PRs to be approved and I'd rather not just merge code without anyone else checkin

[2017-07-28 06:50] niftylettuce commented on #441
@OmgImAlexis I will be updating my PR #464 soon to remove eslint stuff and also fix all the other issues mentioned

[2017-07-28 06:51] niftylettuce commented on #441
@OmgImAlexis I will have more time come next week - we are doing a major release from last 3 months of work so I apologize I cannot contribute more at this time - I have been actively reading all notifications though so I am in tune.

[2017-07-28 07:00] OmgImAlexis commented on #441
@niftylettuce that's all good. Once we get 0.10.0 published I'd like to get your PR merged so we can start on the 1.0.0 changes.

[2017-07-28 07:04] simison commented on #441
Sorry I forgot to share this info here; I emailed @rschmukler about npm access and waiting for a reply.

[2017-07-28 14:57] emhagman commented on #486
@gitadept We currently do this at my company. This is not supported by Agenda unfortunately. The event of job completion, etc, only occurs on the machine the job completes on.

What we did is use redis pub/sub to resolve (or reject) promises when the job completes. If you are interested in more details, I can go into it more but the pseudo code is:

1. `startRemoteJob` creates a promise with UUID

[2017-07-28 16:06] emhagman commented on #477
@mystery-man Any luck?

[2017-07-29 01:30] OmgImAlexis commented on #486
@emhagman could you not the processing server listening to the MongoDB oplog so it can react to changes to documents such as when a job finishes?

[2017-07-29 09:59] OmgImAlexis opened #493 "Cannot read property 'insertOne' of undefined'"
Looks like in [`Agenda.prototype.now`](https://github.com/agenda/agenda/blob/e239b6eed861ba9f053f944881192fb38a25052a/lib/agenda.js#L466) the data field is being set to undefined for some reason which is causing this error.

[code]

Confirmed the issue is the same in our current tests.
[code]

[2017-07-30 17:14] moar55 opened #494 "Is it possible to restart jobs incase server crashes while they are executing?"

[2017-07-30 17:16] moar55 opened #495 "Locking explaination?"
I am having trouble understanding the lock mechanism here. So what is meant by locking is it similar to the concept of locking on os level or exactly what?
 Also it says here in the documentation :

What does shutdown of job mean? Does this refer to a crash of the job? And again here what does the lock refer to and subsequently what does it expiry mean.
I know these might be many questions but I a

[2017-07-31 15:52] #495 closed

[2017-07-31 15:52] moar55 commented on #494
Apparently locked

[2017-07-31 15:52] #494 closed

[2017-08-01 01:51] dilame commented on #473
@OmgImAlexis i don't know how to share it with you, i can tell that i just use this hook for sails.js
https://github.com/vbuzzano/sails-hook-jobs
And this error throws sometimes on start.
Could this be enough?

[2017-08-01 08:13] OmgImAlexis commented on #473
Could you try and open the issue on their repo as it looks like it may be more todo with their code than ours.

[2017-08-01 08:23] lushc commented on #473
This looks like a very similar problem to https://github.com/vbuzzano/sails-hook-jobs/issues/11

[2017-08-02 07:17] mystery-man commented on #477
@emhagman I've tested it out and deployed on production 2 days back. So far it's working great. :)

[2017-08-03 04:15] onel0p3z commented on #357
@scheung38 @ashutosh-akss going thru similar issues but can't find fix. Was anyone able to find fix for this ?

[2017-08-03 08:08] hughmp commented on #93
I have a similar scenario.

I run jobs at specific repeated times. e.g. every day @ 21:00 or Mon-Fri @ 12:00 using a `cronString` like this:

[code]

If I want to disable this job (perhaps for a few days/weeks/months), I do something like this:

[code]

Now, after disabling a job, suppose a window of time passes such that the job would have run one or more times (e.g. the job runs Mon-Fri @ 12:00

[2017-08-03 09:38] Bingmang commented on #357
are you try to set the timezone when use .every ?

`agenda.every('00 * * * * *', 'doSomething', {}, { timezone: 'Asia/Shanghai' })`

about timezone string you can see: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

the default timezone is 'America/New_York'

and you should know that there is data Object is needed before you set timezone.

hope it can help you.

[2017-08-03 10:53] moar55 commented on #436
@michelem09  I ran two servers where one will get the job called and I see only one of the two servers executing the tasks. If I reduce the locklifetime both executes but some jobs are executed more than once(i.e: the two servers would do the sam job). Can you please tell me how is your setup laid out?

[2017-08-03 15:57] onel0p3z commented on #357
@Bingmang after defining the job, I schedule it like so:
[code]
tbh, I didn't try using `agenda.every` because [in docs mentions](https://github.com/agenda/agenda#manually-working-with-a-job) it as a job method `job.every` I'll give it a try later today and post back results. Thanks for the help!

[2017-08-04 06:51] niftylettuce opened #496 "Agenda `schedule` should accept a timestamp as an argument"
Per my pull request here #462 I discovered that `agenda.schedule` does not accept an argument for number of milliseconds (e.g. from `Date.now()` or `new Date().getTime()`).

For example, this will not work (the job queued "foo" will never run):

[code]

However this will:

[code]

[2017-08-04 06:51] niftylettuce commented on #462
This PR should be good to go now, see #464

[2017-08-04 12:19] mystery-man commented on #477
@emhagman Just for the sake of confirmation. The new logic is working fine but I am getting messages from customers that the job is running multiple times for them. Can this be related to the changed logic because earlier I didn't have this issue ?

The production environment is running multiple instances. Can the new interval along with multiple instances cause this issue ?

[2017-08-06 16:06] fabong commented on #366
Hi, a simple way to produce the error is to start with a database with no collection, you will get this error: `TypeError: Cannot read property 'deleteMany' of undefined`. I want to do this to ensure in my tests that there is no saved job before I run them. I can make an PR for it if you want.

[2017-08-06 17:53] simison commented on #366
@fabong PRs are always welcome!

[2017-08-07 03:35] OmgImAlexis commented on #441
@rschmukler can you please check your emails we can't really move forward with agenda until we get npm sorted. 😞

[2017-08-07 06:10] michelem09 commented on #490
I agree to be optional but I'd like to have it "automatic", so I'd add the option `{ index: true }` on the Agenda initialisation function to run the createIndex, putting `{ index: false }` by default and changing the README.md to explain this.

[2017-08-07 06:23] OmgImAlexis commented on #490
I'd go for the opposite, unless you need to create your own indexes you're better off starting with our provided ones. I'd go for `{index: true}` as default and have `{index: false}` as an option.

This also allows backwards compatibility since all current installs create the indexes by default.

[2017-08-07 07:16] simison commented on #441
@OmgImAlexis, @rschmukler actually did reply some days ago that he'll add you guys, but he also asked if he could add me and I've been busy to reply for some days so now it's been lagging due me. :-) I replied him yesterday so hopefully we'll get this sorted soon!

Patience. :-) Hope this doesn't affect your enthusiasm!

[2017-08-07 18:57] rschmukler commented on #414
Hey all! Sorry on the delay, again. I've added @simison, @joeframbach, and @niftylettuce as package owners on NPM. I would also be happy to add @lushc and @OmgImAlexis but their NPM user names don't appear to be the same as their github's.

All other maintainers, feel free to add NPM owners freely.

Thanks all!

[2017-08-07 18:58] niftylettuce commented on #414
Thank you @rschmukler 🎉

[2017-08-08 03:16] OmgImAlexis commented on #441
I've published `0.10.0` and pushed the git tag since all issues in the `0.10.0` milestone were closed.

I suggest whoever handles the npm publishing use [np](https://www.npmjs.com/package/np) as this will keep our way of publishing consistent no matter who's doing it.

[2017-08-08 03:21] #462 closed

[2017-08-08 04:03] OmgImAlexis opened #497 "Dropping support for MongoDB 2.x.x"
According to MongoDB the end of life for v2.6 is October 2016 which means really we should only be supporting 3.x.x officially.

This would affect https://github.com/agenda/agenda/issues/490

PING: @agenda/maintainers

[2017-08-08 05:39] OmgImAlexis commented on #441
Thoughts on dropping codeclimate since we now have xo and will soon have ava?

Since xo can already tell us the same stuff as codeclimate it's redundant now. Maybe if codeclimate ever adds in native xo support we can then switch to to using it.

[2017-08-08 08:45] simison commented on #497
Sure!

[2017-08-08 08:48] simison opened #498 "Make createIndex configurable"
- Add the option `{ index: true }` on the Agenda initialisation function to run or skip creating index.
- Add instructions how to create your index for production (or even a script that calls agenda's method?)
- Make `{index: true}` as default and have `{index: false}` as an option. This allows backwards compatibility since all current installs create the indexes by default.

[2017-08-08 08:49] simison commented on #490
Closing this, follow ups to #490 (_Drop MongoDB 2.x support_) and #498 (_Make createIndex configurable_)

[2017-08-08 08:50] simison commented on #490
Actually not closing, this is still relevant. :-)

[2017-08-08 08:51] simison commented on #497
Do we have anything we'd want to publish in between or should we jump directly to 2.x?

[2017-08-08 08:53] simison commented on #496
Assigned this for you @niftylettuce  ;-)

I'd appreciate +1 from @agenda/maintainers before PR'ing tho.

[2017-08-08 08:54] simison commented on #441
@OmgImAlexis could you add using `np` to wiki? https://github.com/agenda/agenda/wiki#generating-a-new-release Thanks!

[2017-08-08 09:16] OmgImAlexis commented on #497
I think it'd be worth it to get xo and ava support added in `v1.1.0` before jumping to `v2.0.0`.
Then we can remove MongoDB support and publish `v2.0.0`.

[2017-08-08 11:05] lushc commented on #441
I don't have a strong opinion either, but I'm all in favour of removing codeclimate if it's redundant 👍

[2017-08-08 11:47] OmgImAlexis commented on #441
@simison [added](https://github.com/agenda/agenda/wiki#generating-a-new-release).

I'll remove codeclimate then. 👍

[2017-08-08 12:20] simison commented on #441
@joeframbach see above

[2017-08-08 12:54] simison commented on #436
@moar55 ensure you're calling `done()` at the end of task, otherwise it won't unlock.

As this is working as expected and [docs](https://github.com/agenda/agenda#multiple-job-processors) seem pretty decent for this, I'll close for now.

@Hyra feel free to re-open if you still have issues / questions!

[2017-08-08 12:54] #436 closed

[2017-08-08 16:26] niftylettuce commented on #496
Okie!

On Aug 8, 2017 4:53 AM, "Mikael Korpela" <notifications@github.com> wrote:

[2017-08-09 04:45] #122 closed

[2017-08-09 04:53] OmgImAlexis commented on #441
We should look at updating agendash to be inline with the versions numbers here so we push a new `1.0.0` build of agendash when we push this to npm.

[2017-08-10 10:06] OmgImAlexis commented on #441
After my stuff up of pushing master as `0.10.1` on npm I think we need to discuss using a `develop` branch. With some of the other projects I work on we use a master and develop branch with master being the live copy on npm, etc. and develop being the branch all changes are merge into.

This allows us to keep merging code without needing to worry if everything is 100% perfect as we do a final lot

[2017-08-12 05:33] leob opened #502 "Cluster with 2 or 3 workers, jobs are not getting "distributed" evenly"
Maybe I overlooked something because this seems pretty basic. I've used the code example from the README (https://github.com/agenda/agenda#spawning--forking-processes) to set up a cluster with N workers, each worker (Node cluster process) has an agenda instance.

Now suppose I have 2 workers (processes) and I call "agenda.now()" from worker 1, then it can be picked up (processed) by any of the 2 w

[2017-08-12 06:59] OmgImAlexis commented on #502
@lushc might be able to answer this. I'm guessing jobs are only added to the next worker if the first one is currently active instead of just using a round robin configuration like you're expecting.

[2017-08-12 07:15] leob commented on #502
Yes that could be the case. I'm curious then what the algorithm is. Maybe I should do a little bit more (realistic) testing with heavier loads and see what the behavior is. Is there a DEBUG flag I could set in my nodejs startup command to enable some more detailed/verbose output?

[2017-08-12 07:30] OmgImAlexis commented on #502
Add `DEBUG=agenda` before your app and it should enable debug messages.

For example `DEBUG=agenda node ./index.js`.

[2017-08-12 07:43] leob commented on #502
Thanks! Yes that should work although for some very vague and fuzzy reason it doesn't ... maybe I should go back to the drawing table and check my setup.

[2017-08-12 08:49] OmgImAlexis commented on #502
What version of agenda are you using?

[2017-08-12 08:51] simison commented on #502
@leob Agenda debugger should work only with latest version which was released a couple days ago.

[2017-08-12 14:18] OmgImAlexis commented on #441
@agenda/maintainers I know you're all probably busy but I'd really like to get agenda moving along. If you're all busy and are okay with handing merging without a `LGTM` from another member then I'll start doing that otherwise could you guys try to atleast check notifications from here a little more often..

[2017-08-12 14:30] simison commented on #441
Yeah totally, progress is more important.

[2017-08-12 14:40] leob commented on #502
@simison Thanks for the tip, I upgraded Agenda to the newest version (0.10.2), however unfortunately I STILL don't get debug output.

However, I think I'm a step closer to the answer, @OmgImAlexis has put me on the right track.

Apparently Agenda will only use the second processor (worker) if the first one is "full" (completely "occupied") - this depends on how high you set the "defaultConcurrency

[2017-08-12 14:43] simison commented on #502
@emhagman any idea why debugging might not work?

[2017-08-12 15:37] OmgImAlexis commented on #502
My bad, use `DEBUG=agenda:*`.

[2017-08-12 15:42] leob commented on #502
Yes that works! I'm getting plenty debug output now.

So, what about the idea of adapting the algorithm of how the workers are selected that pick up a job ... is that an idea that makes sense?

[2017-08-12 15:44] simison commented on #502
@leob I like the idea, the rest depends on implementation. ;-) PR's welcome!

[2017-08-12 15:56] #455 closed

[2017-08-12 16:00] simison commented on #455
Ready for 1.0.0 with this?

[2017-08-12 16:03] OmgImAlexis commented on #455
Yep I'm good with releasing `1.0.0` now if you want?

[History](https://github.com/agenda/agenda/blob/master/History.md) looks good according to the [milestone](https://github.com/agenda/agenda/milestone/4).

[2017-08-12 16:37] simison commented on #455
Yep good for me!

After that Agendash might need some slight refactoring.

[2017-08-13 16:12] nicolocarpignoli opened #504 "Starting jobs at restart of node server"
I have probably a trivial question. I correctly schedule dynamic jobs:

[code]

This works if I keep my node server running. If i restart It, no job is scheduled (outdated jobs and jobs with future nextRun time). At server startup I do:

[code]

I also attach a 'find' query result of one of the jobs:

[code]
Can you help me find the problem?

[2017-08-13 16:18] michelem09 commented on #504
Please have a look at this https://github.com/agenda/agenda/issues/410

[2017-08-13 18:47] nicolocarpignoli commented on #504
Already seen, but the suggested workarounds such as  https://github.com/agenda/agenda/issues/410#issuecomment-310526028 doesn't work because my job on mongodb (as you can see on my previous post) haven't got fields like `lockedAt` or `lastFinishedAt`

[2017-08-13 19:17] nicolocarpignoli commented on #410
My problem looks the same. I correctly schedule dynamic jobs:

[code]

This works if I keep my node server running. If i restart It, no job is scheduled (outdated jobs and jobs with future nextRun time). At server startup I do:

[code]

I also attach a 'find' query result of one of the jobs:

[code]
Can you help me find the problem? I cannot modify `locketAt` or other fields cause my document does

[2017-08-13 20:01] nicolocarpignoli commented on #410
No it doesn't seems to work either. Now my jobs are saved in mongo with 13 fields, like this one:

[code]

But when I restart the server the job is not scheduled

[2017-08-14 09:31] simison commented on #485
@theonetheycallneo could you test if that PR solves this issue?

[2017-08-14 09:50] simison commented on #473
Closing, feel free to open if there's still something to discuss here. :-)

[2017-08-14 09:50] #473 closed

[2017-08-14 09:57] simison commented on #429
Related: https://github.com/rschmukler/human-interval/issues/5

@OmgImAlexis what do you think about having `human-interval` repo under Agenda org?

[2017-08-14 15:41] OmgImAlexis commented on #441
Are all methods meant to be chainable? I noticed `agenda.cancel` doesn't return `this`.

https://github.com/agenda/agenda/blob/master/lib/agenda/cancel.js#L11-L23

[2017-08-14 18:53] emhagman commented on #486
Yup you could definitely do this as well :) @OmgImAlexis That's probably a much better idea. If I get around to it, I can test it out in our code base.

[2017-08-14 19:31] OmgImAlexis commented on #470
So looks like we just need to wrap the `return this` in a promise that resolves `this`.

[code]

[2017-08-14 19:33] OmgImAlexis commented on #470
This allows both of these to work.

[code]

[code]

[2017-08-14 19:33] OmgImAlexis commented on #470
@agenda/maintainers thoughts?

[2017-08-14 19:36] niftylettuce commented on #470
👍

[2017-08-14 19:39] simison commented on #470
Seems like a reasonable path forward.

[2017-08-14 19:42] OmgImAlexis commented on #470
Since all tests are passing after making this change to a few files it looks like we should be fine adding this it breaking anything.

I'd do some tests but I think we may be able to land this in `1.1.0`. 🙏

[2017-08-14 19:43] simison commented on #470
Awesome!

[2017-08-14 20:01] OmgImAlexis opened #507 "Throw better errors"
We need to add more tests for checking we have what's needed before allowing `new Job()` and `new Agenda()` to return.

For example if I do `const job = new Job()` and then try to use `job.save()` this is the error I end up with.

[code]

[2017-08-15 23:52] yktv4 opened #508 "done callback isn't passed if processor function doesn't have exactly 2 args"
`done` callback isn't passed if processor function has number of arguments different than 2.

consider the following code which works ok:

[code]

although this one doesn't work as could be thought of:

[code]

the issue is not about bluebird's `coroutine` call although it might be somewhat handy:
[code]

The issue is about agenda trying to be more clever than the code it executes. Any kind of dyn

[2017-08-16 03:09] OmgImAlexis commented on #508
@agenda/maintainers I came across the same issue with the tests it was would cause them to fail without the second param even if the job itself was empty.

This fails
[code]

This doesn't.
[code]

[2017-08-16 03:10] OmgImAlexis commented on #470
We should also support job definitions returning a function or a promise.

Ref: https://github.com/agenda/agenda/issues/508

[2017-08-16 07:09] niftylettuce commented on #129
We should probably prioritize this @OmgImAlexis @simison - since it's a huge deterrent it seems for many (performance bottleneck?).

[2017-08-17 14:05] kfrankovic opened #510 "Agenda sometimes fails to initialize"
We have Node.js application hosted on Heroku which is using Agenda for the purpose of executing some scheduled tasks. But sometimes on dyno restart, Agenda simply fails to initialize (fire `ready `event, and consequentially it doesn't work). Roughly I would say it fails to initialize in around 50% of the restarts, and in that case we have to restart dyno several time to make it work.

When it fail

[2017-08-17 14:33] OmgImAlexis commented on #510
What version of Agenda are you on? Have you tried updating to the latest `1.0.0` version?

[2017-08-17 15:19] kfrankovic commented on #510
We are using `0.9.1`. Are there any breaking changes in the `1.0.0`?

[2017-08-17 18:12] simison opened #511 "Add 0.10.1 and 0.10.2 to History.md"
Just realised these are missing from [changelog](https://github.com/agenda/agenda/blob/master/History.md).

From `npm view agenda`:
[code]

Wanna summarise the changes @OmgImAlexis ?

[2017-08-17 18:18] simison commented on #510
@kfrankovic 1.0.0 has small breaking changes, see [History.md](https://github.com/agenda/agenda/blob/master/History.md).

You could update at least to 0.10.2 to to be able to enabled debugging, [see instructions](https://github.com/agenda/agenda#to-turn-on-logging-please-set-your-debug-env-variable-like-so). That might give us more insight into the problem.

[2017-08-18 01:30] OmgImAlexis commented on #511
`0.10.1` isn't installable it's a unpublished version when I accidently pushed master(1.0.0).
`0.10.2` just adds the `debug` dep.

[2017-08-18 07:22] #511 closed

[2017-08-18 14:24] kfrankovic commented on #510
@simison Thanks for the suggestion. We updated Agenda to the 0.10.2, enabled logging and managed to provoke the issue with several restarts. There weren't any special errors visible in the log, it was simply - stuck.

The only different thing was that the order of execution was different. (visible from console logs and debug logs).

After some further investigation, we now suspect that in some cas

[2017-08-18 14:40] OmgImAlexis commented on #510
@kfrankovic we'd really appreciate if you could create an example script to reproduce this. I've been working on the tests for the last week and haven't noticed a single instance where ready fired before the handler was attached.

[2017-08-18 19:35] rogueturnip opened #512 "Job Definitions"
I was wondering, is there a method for fetching the job definitions that have been created and removing them (along with any associated jobs)?

Thanks!

[2017-08-18 22:47] marcelinhov2 commented on #410
Hey, do you guys have some update about this issue?

I already finished my implementation with Agenda at my project ( great module by the way ) but I'm with this same problem, when I need to restart my server, all my jobs stop to work.

[2017-08-18 23:09] #512 closed

[2017-08-21 08:17] kfrankovic commented on #510
@OmgImAlexis The code I pasted in my question is essentially what is sometimes producing the issue.

I can try to write something similar in following days that you will be able to run, though I'm pretty sure it won't reproduce error in consistent manner, since my assumption is that it depends on the time agenda package takes to fire ready event - and I think this is tightly coupled to the speed o

[2017-08-23 13:44] fega opened #513 "Suggestion: emit event when task is not defined"
Currently agenda fails silently when a task is not defined, this feature could help to log those errors

[2017-08-23 16:11] bastianwegge commented on #410
@marcelinhov2 we got it working with the latest version of agenda, contact me personally if you need help

[2017-08-23 16:11] bastianwegge commented on #504
@nicolocarpignoli we got it working using the latest version of `agenda`. Which version are you using?

[2017-08-23 16:41] nicolocarpignoli commented on #504
@bastianwegge I'm using agenda@0.9.1; actually I ended up with reading data about jobs from mongo and manually reschedule every job, but it's clear that this is the standard behaviour that I was expected from the library

[2017-08-24 02:38] OmgImAlexis commented on #410
@bastianwegge can you share what you did so we know if we need to add better documentation or if there's a bug we're unaware of.

[2017-08-24 13:05] bastianwegge commented on #410
Okay so first things first. We installed `agenda` on a bare minimum setup. I usually go for a mongoose.js file that holds all the config information. After using `nodemon` to watch for file-changes whenever I'm editing my `scheduler.js`, I noticed that after 1-2 restarts `agenda` stopped working. We dug deeper using the `debug` described in an issue I read before using `env DEBUG="agenda:*" node d

[2017-08-24 13:07] bastianwegge commented on #504
I think there should be some kind of "dev" mode that closes jobs after they're done. Please have a look at the comment I wrote here: https://github.com/agenda/agenda/issues/410#issuecomment-324516380

And btw. agenda@1.0.0 was just released and seems to be working nicely.

[2017-08-25 07:11] niftylettuce opened #515 "Use environment variables for configuration"
e.g. `process.env.AGENDA_CONCURRENCY=25` to set 25 instead of 20

We should prefix all config options with `AGENDA_` env vars

[2017-08-25 08:06] niftylettuce opened #516 "Ensure all owners / collaborators use 2FA and are GitHub org owners and admins in Slack"

[2017-08-25 08:13] niftylettuce opened #517 "Set up agendajs.com with documentation using docute"
<https://github.com/egoist/docute>

[2017-08-25 08:13] niftylettuce commented on #414
@rschmukler @joeframbach can you please add @OmgImAlexis and I as owners of the repo?  I've also sent you invites on Slack (once you accept I will make you team owner like the rest of us). https://github.com/agenda/agenda/issues/516

Also we need to ensure and enforce that all owners / collaborators have 2FA enabled per https://github.com/agenda/agenda/issues/516

We are going to get <agendajs.com

[2017-08-25 08:14] niftylettuce commented on #516
Slack Owners:

- [ ] @joeframbach (waiting for him to accept invite and join)
- [x] @simison
- [x] @OmgImAlexis
- [ ] @rschmukler (waiting for him to accept invite and join)

Namecheap Admins:

- [x] @simison
- [x] @OmgImAlexis

2FA Enabled:

Who else are we missing?

[2017-08-25 08:14] niftylettuce commented on #516
pinging @agenda/maintainers

[2017-08-25 08:34] niftylettuce commented on #517
We can use CNAME/GitHub pages with custom domain and SSL with CloudFlare per <https://hackernoon.com/set-up-ssl-on-github-pages-with-custom-domains-for-free-a576bdf51bc>

[2017-08-25 11:19] nwkeeley commented on #516
Could I get an invite to the slack channel?

[2017-08-25 12:19] niftylettuce commented on #516
You and anyone can join at http://chat.agendajs.com.  I did just send you an invite though, once you're in I can make you an owner!

[2017-08-25 12:20] OmgImAlexis commented on #517
Cloudflare SSL with Github pages isn't really secure.
We'd be better off using a VPS or something like Heroku.

[2017-08-25 12:21] niftylettuce commented on #517
@OmgImAlexis Was trying to find something that's free

[2017-08-27 03:02] joeframbach commented on #516
All above names are now Github Owners

[2017-08-27 14:55] simison commented on #410
I'm doing something similar each time our app is restarted:

https://github.com/Trustroots/trustroots/blob/master/config/lib/worker.js#L175-L228

I'm also attempting to gracefully stop Agenda:
https://github.com/Trustroots/trustroots/blob/master/config/lib/worker.js#L238-L255

...and haven't had issues with jobs not running since that change. Previously jobs which were run repeatedly and often (ev

[2017-08-29 05:46] pruhstal commented on #410
Will this ever make it into the core library? The solutions above are helpful, but not elegant and require an additional module to "fix this issue".  Btw, I've used agenda for years and am so happy it's still being maintained after having come back to it for a new project.

[2017-08-29 06:59] OmgImAlexis commented on #410
@pruhstal we're looking into it.

[2017-08-29 11:40] simison commented on #342
This would really need a code example to be acted on as folks here might not familiar with Sails.

Does this refer to Mongo driver's `.save()` or some Agenda method?

[2017-08-29 15:58] sonnguyenvan commented on #99
Hi all. Did you fixed this problem ?

[2017-08-29 17:31] rogueturnip commented on #99
No, not yet, I've gotten busy with some other things and haven't had a chance to get back to it.

[2017-08-30 07:50] Bingmang opened #520 "After agenda.stop(), use agenda.start() will not work."
I want to every process just do one job, so I set maxConcurrency = 1,

[code]
after that
[code]
but some job will be queued forever, agenda process just stop and not running job anymore.

=============

I use stop and start again because agenda will pull all the same-moment-job.

For example, I have 4 agenda processes, and I have 100 jobs that set 0 * * * * *

it will queue all 100 jobs to one pro

[2017-08-30 08:19] Bingmang commented on #520
I just want to transfer current agenda process job queue to other processes, but I don't know how to do.

[2017-08-30 08:45] Bingmang commented on #520
How to just pull one job every 'processEvery' ?

[2017-08-30 14:11] Hukutus commented on #277
+1

I have a bunch of old expired jobs which I would like to remove from the database. I can easily remove new jobs as they complete, since at that point the nextRunAt is indeed "null".

But, agenda.jobs() always returns a date for nextRunAt.

[2017-08-30 16:14] fega commented on #513
Could be achieved adding a couple of lines here: https://github.com/agenda/agenda/blob/2d78b12599de5483f10cd7407d7144c171614750/lib/utils/process-jobs.js#L31

[2017-08-31 09:40] OmgImAlexis commented on #513
It doesn't exactly "fail silently" as it can be used without all jobs being defined.

@agenda/maintainers thoughts? I don't see any downside to adding more events.

[2017-08-31 17:22] inkredible-raccoonbot opened #521 "When to call done()"
I wonder if I need to call done() in my catch handler as well to prevent a lock? Also what if I don't have a catch handler and an exception is thrown, does agenda recognize that it can unlock the job?

[2017-09-01 12:44] arthursp opened #522 "Async Request"
I tried this :

[code]

And i got :

Error: callback already called - job test already marked complete

but I am in async mode

[2017-09-01 13:05] michelem09 commented on #522
`agenda.start()` must be called outside the event `on('ready')`

[2017-09-01 13:06] michelem09 commented on #521
Please could you provide some code?

[2017-09-01 13:11] michelem09 commented on #522
Sorry I confused, the `define` must be outside:

[code]

[2017-09-01 13:16] arthursp commented on #522
Same with outside

[2017-09-01 13:22] michelem09 commented on #522
Oh well the problem is also another one, you are streaming the request data (`on('data', function (data)`), while you should get it all in a shot:

[code]

[2017-09-01 13:47] arthursp commented on #522
Exactly !

But anyways the function need to wait until done() call before to complete the job

[2017-09-01 14:01] michelem09 commented on #522
Request is async so job is set complete when you call done() after the full request.

[2017-09-01 14:12] arthursp commented on #522
But why full request and not just when I want ? With Promise, i can choose when I want to resolve() ...

[2017-09-01 14:25] michelem09 commented on #522
When you want, but don't call it more then one time per job. In your initial code you was calling it each time the request received any data.

[2017-09-01 15:12] arthursp commented on #522
So it don't cut the process :S

[2017-09-01 15:12] #522 closed

[2017-09-01 18:55] mmilkov opened #523 "How to define a processing behavior that will be called on every job?"
Hello guys. I am very interested to use agenda but I have a design problem and I don't know is it possible agenda to be used in this case.

Is it possible to make only one agenda.define that will be called from every job with every name?

I have a situations that I have many jobs. One job has many tasks. For example Job 1 has 4 tasks: 1. Check my email for new emails, 2. Re-send the new emails to

[2017-09-02 06:55] michelem09 commented on #521
Please take a look at this https://github.com/agenda/agenda/issues/463

[2017-09-05 10:33] shengbeiniao commented on #156
I found a solution.

[code]

It works well~

[2017-09-11 00:55] inkredible-raccoonbot opened #524 "Running multiple instances with one agenda db"
Hello,
can I safely run multiple instances and assume that defined jobs won't get processed n times where n is the quantity of started instances?

I am using pm2 and I would like to start 6 instances, but obviously I don't want my jobs to execute 6 times at the same time as well. Would that work?

[2017-09-11 14:28] lushc commented on #524
Yep it'll work since Agenda's locking mechanism relies on MongoDB's findOneAndUpdate behaviour for exclusively processing a job. However, you'll want to set a [lock limit](https://github.com/agenda/agenda#locklimitnumber) because otherwise, you'll probably find one instance will lock all available jobs for processing and starve the others.

[2017-09-12 19:49] andylhansen opened #525 "ECONNRESET mongodb crash"
Since I've started using agenda, my app has started crashing with this error:

I am using mongoose, and I haven't experienced this error until I added in agenda.

I am setting up agenda like this:

[code]

It usually runs fine for a few minutes, then suddenly crashes.

Any ideas why this would be occurring?

[2017-09-13 14:44] #521 closed

[2017-09-24 18:28] seshu3564 opened #527 "How to pass data created in define function to success or fail callbacks"
I have created some unique ids in job definition. I want to pass them to success or failure callbacks. can someone suggest how to do it

[2017-09-26 10:11] hughmp commented on #155
Anyone know of any issues with this approach? Mutating the job object directly smells like it could cause troubles...

[2017-09-26 20:28] Zedonboy opened #528 "Return value from Jobs to the caller"
I read the docs, they never mentioned,  how to pass results of a job to the calling function.
What am planning todo is to put result in the ```done()``` like this ```done(result)```.

SO when creating an instance ```Job.create(Jobname, Jobconfig, result  => { console.log(result)})```
Is this going to work out?

[2017-09-27 05:36] herkyl commented on #155
@hughmp I've been using this approach in production for a while and haven't noticed any drawbacks with it.

[2017-09-27 07:12] moeinrahimi opened #529 "using agenda without any database"
is it possible ?
because i'm using it like this and agenda never emits ready event 👍
[code]

[2017-09-27 07:18] michelem09 commented on #529
No it's not possible, Agenda needs a MongoDB to store jobs. It's not ready because there is any Database connected.

[2017-09-27 07:36] moeinrahimi commented on #529
now i get why it's not working

[2017-09-27 07:36] #529 closed

[2017-09-27 14:57] simison commented on #523
I have similar setup, something along these lines:

I define three tasks:
- check unread messages
- send email
- send push notification

Then I schedule `check unread messages` to be recurring: `agenda.every('5 minutes', 'check unread messages');`.

If that logic in that task finds any unread messages, for each message it schedules two new jobs which run right away when worker is free:
[code]

You

[2017-09-27 14:58] simison commented on #523
Of course it gets a bit trickier if your tasks need to happen in exact order, but you didn't mention that so I'm assuming they can run in parallel.

[2017-09-27 16:09] mmilkov commented on #523
@simison That's not my case but thank you. I find a way to do it with
[code]

[2017-09-27 16:09] #523 closed

[2017-09-27 22:43] mcaldas opened #530 "Running serverless"
I know agenda is meant to work on "real" server, but nowadays "serverless" architectures are trending..
So my question is if there is a way to use agenda in a serverless environment, where "functions" are only allowed to run for a short time.
Thanks!

[2017-09-28 17:13] v1adko opened #531 "MongoDB connection is not recoverable (jest, mongoose connection)"
**Version**: 1.0.0
**OS**: MacOS Sierra (10.12.6)
**Stack**: [Gist](https://gist.github.com/v1adko/217e1bba4880516ed305184b73dd6eb0)

Hello everyone. I'm having an issue and it may be a **bug**.

I'm doing integration testing with [jest](https://github.com/facebook/jest), and before each test suite I start a server and after all tests have passed I shut it down. In that process `connection.close()

[2017-09-30 13:22] zusamann commented on #470
🙏 🎉

[2017-10-02 17:28] addysunn commented on #525
Hi, I am facing the same issue. How did you resolve this?

[2017-10-03 08:57] v1adko opened #533 "Mongo ensureIndex() deprecation"
After updating mongoose I get this deprecation warning, looks like agenda needs to be updated internally to use `createIndex` too.
It's not a breaking change, btw.

`DeprecationWarning: ensureIndex() is deprecated in Mongoose >= 4.12.0, use createIndex() instead.`

[This issue](https://github.com/Automattic/mongoose/issues/3280) can be of help, looks like it's an easy fix (find/replace).
I am will

[2017-10-03 09:30] simison commented on #533
@v1adko yay! Help / PR would be greaaat! Could you do that?

But I'll close this issue as a duplicate of #490

[2017-10-03 09:30] #533 closed

[2017-10-03 09:31] v1adko commented on #533
Yeah, I think I can, I will try to find some time.

[2017-10-03 09:32] simison commented on #533
Great, feel free to join [our chat](http://chat.agendajs.com) if you need any help!

[2017-10-04 16:09] paramaggarwal commented on #533
@simison @v1adko I have opened PR: #534.

[2017-10-09 11:07] v1adko commented on #510
For those who'll be searching for similar issues, I had a problem where 'ready()' would not be called and seem to hang (no errors either), but in my case it was caused by the fact that I'm reusing mongoose connection (passing it as a mongo option) and the connection needs to be established (type - connected) before agenda init. Unfortunately agenda does not track that.

I've solved it by adding th

[2017-10-09 12:16] halfninja opened #535 "`unique()` doesn't guarantee uniqueness"
`unique()` can result in duplicate jobs if two clients save the same job around the same time. It uses `modifyAndInsert` which explains in its documentation that it doesn't guarantee uniqueness and you need a separate unique index to avoid this. We ended up with a lot of duplicate jobs which we've now cleared and set up a unique index for.

I think at least the docs for `unique()` should mention t

[2017-10-09 20:34] KevinHaisol opened #536 "NSP Security Update"
It looks like there is a denial of service  vulnerability in agenda@1.0.0 Can you update the debug@0.7.4 package to >= 3.1.0 or know when this will be fixed?

![image](https://user-images.githubusercontent.com/25829792/31357429-eabe8ffa-acfe-11e7-91cb-45ab43d19485.png)

[2017-10-09 22:01] #536 closed

[2017-10-09 22:03] OmgImAlexis commented on #536
Please update to `v1.0.1`.

[2017-10-10 13:14] KevinHaisol commented on #536
Looks like the issue could be in date.js  I'll reach out to them for the fix.

[2017-10-11 11:35] lacivert opened #538 "is it possible to register new events or create functions for job?"
Simply I need to do something just before cancel the job. As the job is still alive and not completed yet, I want to cancel it but there is something more I need to do just before the stop. can I define some kind of a new event or a new function to do that in the definiton of the job?

[code]

[2017-10-11 12:43] michelem09 commented on #538
In the `define` you are processing the job, so simply call the `done()` before doing anything else if you want to "skip" it.
Then in the `success/fail` function delete it if skipped.

[2017-10-11 13:14] lacivert commented on #538
Thank you and sorry that I couldn't get how to do that exactly. I am not trying to skip anything but I want to do something like a '_finally_' part of a _try-catch_ block. 'close stream' should be called before either the **completion** or **cancellation** of the job.

Can you show me that to me please? Thanks

[2017-10-11 13:19] michelem09 commented on #538
There's no cancellation once a job is in define processing method (is started). Call "close stream" before the done() or please give me more code to understand your needs.

[2017-10-11 13:30] lacivert commented on #538
[code]

The job should not be completed unless programmatically call it stop somehow. When it gets the stop sign (like interrupt), job should stop the mailListener by calling `mailListener.stop();`

[2017-10-11 13:42] michelem09 commented on #538
I think your approach is wrong, Agenda is a "one-shot" job processing, it can't handle a job "forever" and then stop it, it's not its job (no pun intended).

[2017-10-11 13:43] lacivert commented on #538
Thank you very much. Is there any other idea for 'listen to mails until a time' in the agenda style?

[2017-10-11 13:49] michelem09 commented on #538
I think instead of _listening_ to an email account you should _read_ an email account.
Define a job to do a one-shot function to read an email account and let it repeat X times/day (don't know what you have to do with it).
This could be done easily  with Agenda.

[2017-10-11 13:51] simison commented on #538
Do you need this for production or for development?

For development I've been using http://danfarrelly.nyc/MailDev/ to catch emails during testing.

For production I recommend using some relay service, which could send you events over HTTP when you get emails. Handling emails (and mail servers) manually is PITA... Personally I quite like Sparkpost for this stuff: https://developers.sparkpost.com/

[2017-10-11 14:04] lacivert commented on #538
@michelem09 & @simison  Thank you very much for the answers.

@simison , for both. I checked MailDev but it looks like a server more than a client. And yes, all the receiving email stuff is PITA 😄 I am going to check the link. Thanks again

[2017-10-11 14:07] simison commented on #538
@lacivert yeah, Maildev a server/client/UI, handy for testing and definitely not meant for production. ;-)

[2017-10-11 14:09] michelem09 commented on #538
I think @simison suggestion (Sparkpost) is the best one, use an http webhook each time you receive an email, better then polling the email account continually.
Closing this, but feel free to add comments.

[2017-10-11 14:09] #538 closed

[2017-10-12 07:07] v1adko commented on #531
@simison Hi, sorry to ping you like that. Maybe you can give me a heads up? If it's not a bug, then I'll move to stackoverflow :) I think there's definitely some confusion in docs about that thrown error, and the conditions surrounding it.

[2017-10-12 08:07] v1adko commented on #531
OK, looks like I've figured it out. Logically after all tests have passed and I shut down the server we'd want agenda to stop too (when the connection closes).

Solved it by adding a conditional listener
[code]

Not sure if it's the best way to do this, but it's a good workaround.
Closing this issue.

[2017-10-12 08:07] #531 closed

[2017-10-12 08:12] simison commented on #531
@v1adko thanks for the ping! I've been a bit puzzled by this same issue myself as well and I'd love to figure out how to make testing Agenda stuff less error prone.

I have an [issue tracking the same problem](https://github.com/Trustroots/trustroots/issues/438) at our project.

I'd also like to have a proper close method for exactly this purpose, [see my PR](https://github.com/agenda/agenda/pull/

[2017-10-12 08:24] v1adko commented on #531
Thanks for the answer. You can look how I approached this in my case. Because the connection gets reused and closed from elsewhere, listening on that event indicates when to shutdown agenda (and thus not enqueuing and locking jobs on no open connections).

Don't like that I had to add a different logical path based on environment, not good code, but for now that's the only way I could make it work

[2017-10-16 14:41] KevinHaisol opened #539 "Agenda -> date.js@0.3.1 -> debug@0.7.4"
FYI:
I submitted a bug request for the npm-package your using date.js@0.3.1 https://github.com/matthewmueller/date/issues/84 but I haven't heard back on the library updating the debug@0.7.4 library and it doesn't look like there has been any activity on that library for over 6 months.

Not sure if you can contact them as well, or perhaps update to a different date npm library, but running a securi

[2017-10-16 22:22] OmgImAlexis commented on #539
[The last update was literally in the last few days](https://github.com/agenda/agenda/commits/master)..?

I'll check the deps today and bump them all we only just bumped everything because of another security issue a week or two ago.

[2017-10-17 12:42] OmgImAlexis commented on #539
Closed in https://github.com/agenda/agenda/commit/65159172b34b9a1344814619c117474bcc323f8d

[2017-10-17 12:42] #539 closed

[2017-10-17 12:54] KevinHaisol commented on #539
Cool, thanks

[2017-10-18 07:15] arthursp opened #540 "Cron value for every not working"
I tried to take the value of your example as parameter for every :

`agenda.every('*/3 * * * *', 'delete old users');`

But it's not working : "failed to calculate nextRunAt due to invalid repeat interval"

[2017-10-18 09:52] #490 closed

[2017-10-18 10:12] OmgImAlexis commented on #540
@simison should this work? We don't have any tests at all showing cron values being usable in every.

[2017-10-18 10:35] simison commented on #540
It's listed here at least:

https://github.com/agenda/agenda#example-usage

There are some other inconsistencies around cron/human readable times as well: https://github.com/rschmukler/human-interval/issues/5

[2017-10-18 10:41] OmgImAlexis commented on #540
Shall we create a `timeDateHandler` that we can just pass and it can workout the correct one to use? That'd allow all methods to use the same function.

[2017-10-18 10:45] simison commented on #540
I was just about to suggest same.

[2017-10-18 10:52] simison commented on #540
Invalid times passed to `schedule()` on the other hand [seem to be failing silently](https://github.com/agenda/agenda/issues/429).

[2017-10-20 16:49] Shiroh1ge commented on #525
Having the same issue, happens randomly. I'm also using an existing connection.

[2017-10-21 01:44] OmgImAlexis commented on #525
What version of Agenda are you running?

[2017-10-25 12:39] dmitrfokin commented on #524
Same question. We have multiple machines connected with load balancer. Each machine runs the application instanse, so I wonder if we can create a single queue for all the machines and app instances?

[2017-10-26 14:14] adamhalasz opened #544 "Question: How to schedule an event starting at X time and repeat there after every month?"
I would like to schedule tasks like this:

1. schedule a task starting on November 1st
2. Repeat the task every month there after
3. I don't want to run it right at the moment when the task is scheduled only beginning November 1st.

I'm using [Agenda.js][1] and I need to make sure that I do this correctly especially Point 3. It cannot run at the moment when it is scheduled.

This is what I have in

[2017-10-26 16:17] jobberwalker commented on #544
Hey

I was struggling the same issues, I did something like this and it works:

`var job = agenda.create("jobName",data);
job.schedule(...);
job.repeatEvery(...);
job.save();
`

Best Regards
JB

[2017-10-27 10:08] jfroffice opened #545 "Is there a way to provide data to a done() job ?"
I would like to be able to see data provided by a job done for the same reason why a job might be failed.

[2017-10-28 12:39] ronenteva commented on #545
Sure, simply edit the `job.attrs.data` field

[2017-10-28 12:44] ronenteva commented on #540
I have encountered issues as well and ended up using [`moment`'s duration](https://momentjs.com/docs/#/durations/):

`job.schedule(moment().add({minutes: 30}).toDate());`

[2017-10-28 12:48] ronenteva opened #546 "DeprecationWarning: `ensureIndex()` is deprecated in Mongoose >= 4.12.0, use `createIndex()` instead"
Related to Automattic/mongoose/issues/5692

[2017-10-29 17:44] jfroffice commented on #545
👍

[2017-10-29 17:44] #545 closed

[2017-10-30 12:38] vjebramek opened #547 "mongoose error: ran out of retries trying..."
mongoose.connect doesn't respect or failed to respect the options.reconnectTries property.

## affects:
- mongoose,
- agenda

[2017-10-30 12:38] #547 closed

[2017-10-30 12:40] vjebramek commented on #547
sorry... long day, wrong repo

[2017-10-30 20:29] AnthonyNahas commented on #335
as the others said, you can't run or schedule a job before agenda built a connection with MongoDB and is initialized!
You must run them first, when the event `ready` is fired from agenda.

## My solution:

1. Wrap agenda module in a agenda class, so that you have always a singleton of agenda.
[code]
2. your mocha tests should load async
- write async function to load agenda
[code]
- write ur test

[2017-10-31 21:13] marcusjwhelan commented on #165
How do you cancel all the agenda jobs on close? The reason being is we change job information often and canceling them all every time a crash happens and recreating them is much easier. After I updated node the graceful shutdown I had to cancel jobs no longer works.

[2017-11-01 10:56] jfroffice commented on #545
I am getting this warning using ESLint
https://eslint.org/docs/rules/no-param-reassign

I think it is justified so why not add a method on a job to properly assign data to attrs?

[2017-11-02 04:34] OmgImAlexis commented on #545
@jfroffice what code are you using to get that error?

[2017-11-02 14:34] jfmmm opened #548 "Idea: pass message in done call"
Hi,

It would be nice if we could pass a success message when we call done().

Something like : `done(null, '18 files were deleted');`

and that would show in the web interface and pass to the on complete event.

Thanks!

[2017-11-04 08:52] jfroffice commented on #545
`job.attrs.data = { foo: , bar: }`

[2017-11-05 15:47] w01fgang commented on #530
In the serverless environment, you can use scheduler of the platform you use.
AWS, Azure, Webtasks and etc., all of them have a cron like scheduler.

[2017-11-07 10:36] arihantdaga commented on #422
In the new library version 1.0.3 its is still happening..

[2017-11-13 10:11] leobudima commented on #548
https://github.com/agenda/agenda/issues/545

[2017-11-14 01:45] rafaelamorim opened #551 "High CPU usage from MongoDB"
Hey guys, how's going?
First of all, i'd like to thank all collaborators for this amazing piece of work! 🥇

I'm experiencing a very high cpu usage from mongodb. And this server/db is dedicated to agenda jobs only.
This got to be something related to indexes with unique jobs. But i tried to create those indexes and all still the same :(
So maybe i'm might have created those indexes wrongly...

I ha

[2017-11-16 18:48] elias-garcia commented on #470
Any news on promise support? It can be a very good feature if it can support promises on all methods so you can call agenda functions with async/await.

[2017-11-17 09:20] CodingJun opened #552 "how to modify the to be running job"
Ok, recently i was troubled by some problems. How i change the to be running job, it means when the job has locked and loaded, i want  to modify it? thanks.

[2017-11-21 17:25] rafaelamorim commented on #551
Contributors, some help here, please?
Best! :)

@rschmukler @simison @OmgImAlexis

[2017-11-22 08:45] tnithinreddy opened #553 "lockedAt is set but callback is not called"
I schedules a job and agenda picks it at the right time and sets the locked at field to the current timestamp. But the callback is not being called. So Job is never processed.

I set concurrency to 10.
I'm using agenda 0.9.1.

[2017-11-22 09:08] #552 closed

[2017-11-22 14:05] Raidus commented on #544
@adamhalasz I had a similar issue. Couldn't find a good solution. However this workaround fits for me:

[code]

[2017-11-25 21:52] kanalasumant opened #554 "Jobs aren't being queued."
Hello. First of all thanks for this wonderful library.
I am trying to prototype queuing of jobs right now using agenda.now(), but the callback of now function seems to execute first rather than the job itself.
I am trying to replicate an **async** task by using **setTimeout**.

Here is the code below for 1 job:
[code]
Output is:
Done with: 1
Finished Job processing 1

And for multiple jobs:
[code]

[2017-11-27 21:47] niftylettuce commented on #554
@kanalasumant what version of agenda are you using?

[2017-12-01 17:47] andylhansen commented on #525
I am using version 1.0.3

[2017-12-03 03:02] kanalasumant commented on #554
Hey @niftylettuce sorry about the delay. I'm using version **1.0.3**. Maybe my code is incorrect. I'm trying to simulate if in fact jobs would actually be queued when concurrent requests are made. I don't want jobs to be processed in parallel. If anyone could point me in the right direction or describe with a simple program how I would go about that, I'd really appreciate it. Thanks!

[2017-12-03 14:15] NivNavick commented on #553
I wonder if that issue was solved in version ln 1.0.3?
Thanks

[2017-12-04 02:36] treecy opened #556 "Question: how to finish a async job via http quest?"
**My situation :**
My job sends a request to another server, and it could cost more than 30 minutes to finish this job.
I don't want to keep the socket waiting.
So I'm trying to make the other server send a http request to agenda sever, after the job is finished.

**The problem is:**
I didn't find a way to call the `done()` function(finish this job) out of `definition` function.

The done function

[2017-12-04 05:51] Tyler-Churchill commented on #553
I believe I am experiencing this as well with 1.0.3.

I have a task that is suppose to run every 5 seconds, the task is called once when the server is initiated and then never again. It will run and work fine when I re-queue the task within agendash-
but then it is locked right away again.
The task is called when I reschedule it with agendash

[2017-12-04 06:35] OmgImAlexis commented on #553
@agenda/maintainers any ideas?

[2017-12-04 06:36] OmgImAlexis commented on #553
Can you please show us an example of the code you're using so we can work this out.

[2017-12-04 06:59] Tyler-Churchill commented on #553
Actually - I may have found my issue. I perhaps did not read the docs fully. Just now I set up and ran Agenda for the first time. To test out/confirm that I had agenda working I created a job which repeats every 5 seconds. All the job does is console log "test". I did not call done() after the console log which causes locking issues. After added done() it seems to be working just fine now.

[2017-12-04 07:11] tnithinreddy commented on #553
agenda.define('LOG_AND_QUIT', { priority: 'high', concurrency: 10 }, (job, done) => {
      console.log(new Date().toString() + ' - Hello world! - ' + JSON.stringify(job.attrs));
      done();
  });

[2017-12-05 10:54] davesmithbis commented on #525
Same issue here.

Seems to work fine with just 1 process and no concurrency - anything more than that and i consistently get this error and the entire MongoDB instance drops too.

[2017-12-06 16:47] marcusjwhelan commented on #422
I currently have this and my agenda scheduled job will lose its nextRunAt after the first run.

[code]
The method is imported correctly and I have an agenda job just like this but is a `agenda.every` version and that one always works correctly. However my two scheduled ones always lose the nextRunAt after one go through.

My server also restarts ofter for changes and other things and the jobs are

[2017-12-06 19:23] arihantdaga commented on #422
@marcusjwhelan Did you check the commit i refrence above..
If you can manually apply this patch and see if it is working for you ??

[2017-12-07 11:37] simison commented on #556
Hey!

It sounds like you should treat Agenda job as an _initiator_ for that long polling process. You could then store the state of your task either in a form of another Agenda job or in separate a storage.

Then either just keep polling the other server or have an listening endpoint, and once the server 2 signals it's done run the 2nd "finish" job.

So something like this:

1. Define jobs A and B

[2017-12-07 21:28] marcusjwhelan commented on #422
@arihantdaga I actually ended up just putting
`agenda.schedule('sunday at 15:00', 'SundayPastWeekEmail');` before `done()` and it worked but still getting extra jobs that have null nextAtTime. Just extra ones. I am guess this is more about my graceful shutdown not working right.

I have several files with jobs and I can't seem to cancel them all in time before the process ends.

[2017-12-07 23:00] marcusjwhelan opened #558 "Question: how to cancel and start job correctly"
Since currently a scheduled job only runs once as said in the README. But I would like to reschedule it again at the same time on the same day right after the jobs completion to be completely next week.

Currently I have an implementation but it leaves a remainder job with a null `nextRunAt` but still creates a new job with the create `nextRunAt`. This works but I want to get rid of that nulled da